  html {
    height: 100%;
    width: 100%;
  }
  body {
    /*color: #45BAB8;*/
    font-family: Roboto, sans-serif;
    color:#22334d;
    box-sizing: border-box;
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  div[id="container"] {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
  }
  nav[id="shadow Dashboard"] {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background:#22334d;
    width: 275px;
    height: 100%;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    pointer-events: auto;
    position: fixed;
    transform: translateX(-203px);
    -webkit-transform: translateX(-203px);
    -moz-transform: translateX(-203px);
    -ms-transform: translateX(-203px);
    -o-transform: translateX(-203px);
}
  div[id="liste text button"] {
    box-sizing: border-box;
    display: block;
    flex-direction: column;
    align-items: center;
    height: 171px;
    width: 201px;
    margin-top: 150px;
    margin-left: 72px;
  }
  div[id="container text button"] {
    box-sizing: border-box;
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 19px;
    border-bottom: 1px solid;
    border-bottom-color: white;
    cursor: pointer;
    height: 57px;
  }
  div[id="container text button home"] {
    box-sizing: border-box;
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 19px;
    border-bottom: 1px solid;
    border-bottom-color: #45BAB8;
    cursor: pointer;
    height: 57px;
  }
  a[id="text button"] {
    align-self: center;
    color: white;
    text-decoration: none;
  }
  nav[id="box Dashboard"] {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background:#22334d;
    width: 72px;
    height: 100%;
    pointer-events: auto;
    position: fixed;
  }
  nav[id="box Dashboard"]:hover::after {
    width: 275px;
  }
  div[id="container image"] {
    box-sizing: border-box;
    display: block;
    height: 0px;
    width: 60px;
  }
  img[id="logo simonneau"] {
    position: fixed;
    display: flex;
    z-index: 2;
    width: 48px;
    height: 72px;
    margin-top: 16px;
    margin-left: 12px;
  }
  img[id="logo simonneau avec ecriture"] {
    display: none;
    position: fixed;
    z-index: 2;
    width: 260px;
    height: 72px;
    margin-top: 16px;
    margin-left: 12px;
  }
  div[id="container liste button"] {
    box-sizing: border-box;
    position: static;
    display: block;
    width: 72px;
    height: 187px;
    margin-top: 150px;
    padding-bottom: 8px;
  }
  div[id="liste button"] {
    box-sizing: border-box;
    display: block;
    position: relative;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    position: relative;
    height: 171px;
    max-width: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  a[id="home page"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    width: 72px;
    height: 57px;
    border-bottom: 1px solid;
    position: relative;
    border-bottom-color: #45BAB8;
  }
  div[id="box button"] {
    align-self: flex-start;
    box-sizing: border-box;
    display: flex;
    height: 24px;
    margin-bottom: 16px;
    margin-top: 16px;
    min-width: 24px;
    width: 24px;
  }
  img[id="home button"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    position: relative;
  }
  div[id="home text"] {
    align-self: center;
    box-sizing: border-box;
    display: none;
    right: 150px;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    height: 19.1875px;
    width: 161px;
    color: #45BAB8;
  }
  a[id="bt page"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    width: 72px;
    height: 57px;
    border-bottom: 1px solid;
    position: relative;
    border-bottom-color: white;
  }
  a[id="entreprise page"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    width: 72px;
    height: 57px;
    border-bottom: 1px solid;
    position: relative;
    border-bottom-color: #fff;
  }
  a[id="client page"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    width: 72px;
    height: 57px;
    border-bottom: 1px solid;
    position: relative;
    border-bottom-color: #fff;
  }
  img[id="bt button"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    position: relative;
  }
  img[id="entreprise button"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    position: relative;
  }
  img[id="client button"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    position: relative;
  }
  div[id="bt text"] {
    align-self: center;
    box-sizing: border-box;
    display: none;
    right: 150px;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    height: 19.1875px;
    width: 161px;
    color: #45BAB8;
  }
  div[id="entreprise text"] {
    align-self: center;
    box-sizing: border-box;
    display: none;
    right: 150px;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    height: 19.1875px;
    width: 161px;
    color: #45BAB8;
  }
  div[id="client text"] {
    align-self: center;
    box-sizing: border-box;
    display: none;
    right: 150px;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    height: 19.1875px;
    width: 161px;
    color: #45BAB8;
  }
  a[id="compte page"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    width: 72px;
    height: 57px;
    border-bottom: 1px solid;
    position: relative;
    border-bottom-color: white;
  }
  img[id="compte button"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    position: relative;
  }
  div[id="compte text"] {
    align-self: center;
    box-sizing: border-box;
    display: none;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    height: 19.1875px;
    width: 161px;
    color: white;
  }
  a[id="login page"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    height: 57px;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    border-bottom: 1px solid;
    border-bottom-color: white;
  }
  img[id="deconnexion button"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    position: relative;
  }
  div[id="login text"] {
    align-self: center;
    box-sizing: border-box;
    display: none;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    height: 19.1875px;
    width: 161px;
    color: white;
  }
  a[id="text button home"] {
    color: #45BAB8;
    text-decoration: none;
  }
  main[id="main box"] {
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
    height: 100%;
    max-width: 100%;
    padding-left: 72px;
    width: 100%;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  div[id="main_wrap"] {
    box-sizing: border-box;
    display: block;
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 1;
    height: 100%;
    max-width: 100%;
    position: relative;
  }
  div[id="body"] {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    width: 100%
  }
  div[id="main container"] {
    box-sizing: border-box;
    display: block;
    flex-basis: 0%;
    flex-shrink: 1;
    flex-grow: 1;
    height: 100%;
    max-width: 100%;
    width: 100%;
  }
  header[id="header main box"] {
    box-sizing: border-box;
    display: flex;
    position: sticky;
    width: 100%;
    height: 110px;
    background-color: #e8f2f2;
    margin-bottom: 53.333px;
  }
  div[id="box header main box"] {
    box-sizing: border-box;
    display: flex;
    position: relative;
    width: 100%;
    height: 110px;
    padding: 10px;
    align-items: center;
  }
  div[id="Title"] {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 47px;
    word-break: normal;
    margin-left: 50px;
    width: 50%;
  }
  div[id="box recherche"] {
    box-sizing: border-box;
    display: flex;
    position: relative;
    width: 25%;
    height: 32px;
    border-bottom: 1px solid;
    border-bottom-color: black;
    align-items: center;
  }
  input[id="recherche d'operation"] {
    width: 100%;
    height: 100%;
    cursor: text;
    border-style: hidden;
    background-color: transparent;
    border-color: transparent;
    outline: none;
  }
  div[id="box recherche logo"] {
    box-sizing: border-box;
    display: flex;
    position: relative;
    width: 10%;
    justify-content: center;
    padding-left: 13px;
    padding-bottom: 5px;
  }
  img[id="logo search"] {
    width:24px;
    height: 24px;
  }
  .search-box{
    position:relative;
    height:60px;
    width:0px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
  }
  .search-box.active{
    width: 350px;
  }
  .search-box.active input{
    opacity:1;
  }
  .search-box input{
    height:100%;
    width:100%;
    border:none;
    background:#fff;
    font-size:18px;
    border-radius: 50px;
    padding: 0 60px 0 20px;
    outline:none;
    opacity:0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
  }
  .search-box .search-btn{
    height:50px;
    width:50px;
    background: #fff;
    color:#45BAB8;
    position: absolute;
    top:50%;
    right:-75px;
    transform: translateY(-50%);
    line-height:50px;
    text-align:center;
    border-radius:50%;
    font-size:20px;
    cursor:pointer;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
    z-index:2;
  }
  .search-box.active .search-btn{
    height:50px;
    width:50px;
    background: #45BAB8;
    color:#fff;
  }
  .search-box .cancel-btn{
    position: absolute;
    color: #45BAB8;
    top:50%;
    right: -75px;
    transform: translateY(-50%);
    font-size: 25px;
    cursor:pointer;
    height:50px;
    width:50px;
    line-height:50px;
    text-align:center;
    border-radius:50%;
    opacity:0;
}
  .search-box.active .cancel-btn{
    right: -135px;
    opacity:1;
    color:black;
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
  }
  div[id="container Operation"] {
    align-content: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: -12px;
    margin-left: 20px;
    margin-top: -12px;
    margin-right: 20px;
    width: 97.7%;
    height: 100%;
  }
  div[id="Box container Operation"] {
    box-sizing: border-box;
    display: block;
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    max-width: 100%;
    padding: 12px;
    width: 100%;
  }
  div[id="Box content Operation"] {
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
  }
  div[id="container sorters"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
    height: 24px;
    justify-content: space-between;
    margin-left: 21.3333px;
    margin-right: 81.3333px;
    width: 97.5%;
  }
  div[id="name filter"] {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 40%;
    color: #929292;
    cursor: pointer;
  }
  div[id="creator filter"] {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 9%;
    color: #929292;
    cursor: pointer;
  }
  div[id="Maitre d'ouvrage filter"] {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 20%;
    color: #929292;
    cursor: pointer;
  }
  div[id="date filter"] {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 9%;
    color: #929292;
    cursor: pointer;
  }
  div[id="categorie filter"] {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 21%;
    color: #929292;
    cursor: pointer;
  }
  div[id="text"] {
    box-sizing: border-box;
    display: flex;
    margin-top: 3px;
  }
  img[class="Sorted"] {
    box-sizing: border-box;
    display: flex;
    margin-left: 5px;
    height: 24px;
    position: relative;
    width: 24px;
  }
  div[id="List Operation"] {
    box-sizing: border-box;
    display: block;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    max-width: 100%;
    position: relative;
    height: 88.5%;
    width: 100%;
  }
  div[id="container List Operation"] {
    box-sizing: border-box;
    display: block;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    padding: 12px;
    padding-left: 0px;
    width: 100%;
  }
  div[class="Box Operation"] {
    box-sizing: border-box;
    display: flex;
    height: 50px;
    width: 100%;
    border: 1px solid;
    flex-direction: row;
    align-items: center;
    border-color: #929292;
    margin-bottom: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}
  div[id="Box color"] {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 12px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #45BAB8;
  }
  img[id="dossier"] {
    box-sizing: border-box;
    display: flex;
    height: 28px;
    width: 28px;
    margin-left: 10px;
  }
  div[id="Nom Operation"] {
    box-sizing: border-box;
    display: flex;
    margin-left: 10px;
    font-family: Roboto, sans-serif;
    width: 40%;
  }
  div[id="Categorie Operation"] {
    box-sizing: border-box;
    display: flex;
    margin-left: 10px;
    font-family: Roboto, sans-serif;
    width: 21%;
  }
  div[id="Createur Operation"] {
    box-sizing: border-box;
    display: flex;
    margin-left: 10px;
    font-family: Roboto, sans-serif;
    width: 9%;
  }
  div[id="MAJ Operation"] {
    box-sizing: border-box;
    display: flex;
    margin-left: 10px;
    font-family: Roboto, sans-serif;
    width: 20%;
  }
  div[id="Date Operation"] {
    box-sizing: border-box;
    display: flex;
    margin-left: 10px;
    font-family: Roboto, sans-serif;
    width: 9%;
  }
  div[id="ID Operation"] {
    box-sizing: border-box;
    display: none;
  }
  button[id="Update Operation"] {
    box-sizing: border-box;
    display: flex;
    border: none;
    background-color: #fff;
    width: 36px;
    height: 36px;
    margin-right: 4px;
    cursor: pointer;
  }
  img[id="point de suspension"] {
    box-sizing: border-box;
    display: flex;
    width: 20px;
    height: 20px;
    margin-top: 7px;
  }
  .myButton {
    position: relative;
    background-color:#45bab8;
    border-radius:30px;
    display:flex;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2aa18f;
    margin-top: 100px;
    margin-left: 360px;
    width: 50px;
    height: 50px;
  }
  .myButton:hover {
    background-color:#43a092;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }
  img[id="icon plus"] {
    height: 24px;
    width: 24px;
    margin-top: 12px;
    margin-left: 12px;
  }
  div[id="box update operation"] {
    display: none;
    position: fixed;
    flex-direction: column;
    background-color: #fff;
    top: 300px;
    left: 700px;
    width: 200px;
    height: 135px;
    box-shadow:        0 5px 5px -3px rgb(0 0 0 / 20%),        0 8px 10px 1px rgb(0 0 0 / 14%),        0 3px 14px 2px rgb(0 0 0 / 12%);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
}
  div[id="box renommer"] {
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 33.333%;
  }
  img[id="crayon"] {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    margin-top: 10px;
    margin-left: 10px;
  }
  div[id="box dupliquer"] {
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 33.333%;
  }
  img[id="dupliquer"] {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    margin-top: 10px;
    margin-left: 10px;
  }
  div[id="box supprimer"] {
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 33.333%;
  }
  img[id="poubelle"] {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    margin-top: 10px;
    margin-left: 10px;
  }
  div[id="box text update"] {
    box-sizing: border-box;
    display: flex;
    margin-top: 12px;
    margin-left: 50px;
  }
  div[id="container rename operation"] {
    box-sizing: border-box;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.459);
    width: 100%;
    height: 100%;
    z-index: 202;
  }
  div[id="box rename operation"] {
    box-sizing: border-box;
    display: flex;
    position: relative;
    background-color: #fff;
    flex-direction: column;
    margin-left: 40%;
    width: 400px;
    height: 219px;
  }
  div[id="title box rename operation"] {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%
  }
  img[id="crayon_bis"] {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    margin-left: 30px;
  }
  div[id="text title operation"] {
    box-sizing: border-box;
    display: flex;
    margin-top: 2px;
    margin-left: 15px;
    font-size: large;
  }
  form[id="form update name"] {
    box-sizing: border-box;
    display: flex;
    margin-left: 30;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
  }
  input[id="name input"] {
    box-sizing: border-box;
    display: flex;
    margin-top: 5px;
    margin-left: 30px;
    width: 80%;
    border: none;
    border-bottom: 1px solid;
    font-size: large;
  }
  label[id="title name input"] {
    box-sizing: border-box;
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    font-size: small;
  }
  input[id="name input"]:focus {
    outline: none;
  }
  div[id="button form update operation"] {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 30%;
    flex-direction: row;
    align-items: center;
  }
  .button2::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .button2 {
    background: white;
    border: 1px solid rgb(37, 37, 37);
    border-radius: 10px;
    color: rgb(37, 37, 37);
    display: block;
    font-size: large;
    font-weight: bold;
    margin: 10px auto;
    position: relative;
    text-transform: uppercase;
    width: 110px;
    height: 40px;
  }
  .button2::before,
  .button2::after {
    background: #fff;
    content: "";
    position: absolute;
    z-index: -1;
  }
  .button2:hover {
    background: rgb(228, 227, 227);
  }
  .button2::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
  }
  .button2:hover:after {
    width: 100%;
  }
  .button1::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .button1 {
    background: #45bab8;
    border: 1px solid #45bab8;
    border-radius: 10px;
    color: #fff;
    display: block;
    font-size: large;
    font-weight: bold;
    margin: 10px auto;
    position: relative;
    text-transform: uppercase;
    width: 110px;
    height: 40px;
  }
  .button1::before,
  .button1::after {
    background: #fff;
    content: "";
    position: absolute;
    z-index: -1;
  }
  .button1:hover {
    background: #43a092;
  }
  .button1::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
  }
  .button1:hover:after {
    width: 100%;
  }
  div[id="container validation"] {
    box-sizing: border-box;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.459);
    width: 100%;
    height: 100%;
    z-index: 202;
  }
  div[id="box validation"] {
    box-sizing: border-box;
    display: flex;
    position: relative;
    background-color: #fff;
    flex-direction: column;
    margin-left: 38%;
    width: 500px;
    height: 219px;
  }
  div[id="title box validation"] {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%
  }
  img[id="poubelle_bis"] {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    margin-left: 30px;
  }
  div[id="button form validation"] {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 30%;
    margin-top: 60px;
    flex-direction: row;
    align-items: center;
  }
  select[id="select categorie"] {
    border: none;
    outline: none;
    background-color: #fff;
  }
  select[id="select status"] {
    border: none;
    outline: none;
    background-color: #fff;
  }
  select[id="select maitre"] {
    border: none;
    outline: none;
    background-color: #fff;
  }