html {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  body {
    /*color: #45BAB8;*/
    font-family: Roboto, sans-serif;
    color:#22334d;
    box-sizing: border-box;
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  div[id="container"] {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
  }
  nav[id="shadow Dashboard"] {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background:#22334d;
    width: 275px;
    height: 100%;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    pointer-events: auto;
    position: fixed;
    transform: translateX(-203px);
    -webkit-transform: translateX(-203px);
    -moz-transform: translateX(-203px);
    -ms-transform: translateX(-203px);
    -o-transform: translateX(-203px);
    z-index: 2;
}
  div[id="liste text button"] {
    box-sizing: border-box;
    display: block;
    flex-direction: column;
    align-items: center;
    height: 171px;
    width: 201px;
    margin-top: 150px;
    margin-left: 72px;
  }
  div[id="container text button"] {
    box-sizing: border-box;
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 19px;
    border-bottom: 1px solid;
    border-bottom-color: white;
    cursor: pointer;
    height: 57px;
  }
  a[id="text button"] {
    align-self: center;
    color: white;
    text-decoration: none;
  }
  nav[id="box Dashboard"] {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background:#22334d;
    width: 72px;
    height: 100%;
    pointer-events: auto;
    position: fixed;
    z-index: 3;
  }
  nav[id="box Dashboard"]:hover::after {
    width: 275px;
  }
  div[id="container image"] {
    box-sizing: border-box;
    display: block;
    height: 0px;
    width: 60px;
  }
  img[id="logo simonneau"] {
    position: fixed;
    display: flex;
    z-index: 2;
    width: 48px;
    height: 72px;
    margin-top: 16px;
    margin-left: 12px;
  }
  img[id="logo simonneau avec ecriture"] {
    display: none;
    position: fixed;
    z-index: 2;
    width: 260px;
    height: 72px;
    margin-top: 16px;
    margin-left: 12px;
  }
  div[id="container liste button"] {
    box-sizing: border-box;
    position: static;
    display: block;
    width: 72px;
    height: 187px;
    margin-top: 150px;
    padding-bottom: 8px;
  }
  div[id="liste button"] {
    box-sizing: border-box;
    display: block;
    position: relative;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    position: relative;
    height: 171px;
    max-width: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  a[id="home page"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    width: 72px;
    height: 57px;
    border-bottom: 1px solid;
    position: relative;
    border-bottom-color: white;
  }
  a[id="bt page"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    width: 72px;
    height: 57px;
    border-bottom: 1px solid;
    position: relative;
    border-bottom-color: white;
  }
  a[id="entreprise page"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    width: 72px;
    height: 57px;
    border-bottom: 1px solid;
    position: relative;
    border-bottom-color: white;
  }
  a[id="client page"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    width: 72px;
    height: 57px;
    border-bottom: 1px solid;
    position: relative;
    border-bottom-color: white;
  }
  div[id="box button"] {
    align-self: flex-start;
    box-sizing: border-box;
    display: flex;
    height: 24px;
    margin-bottom: 16px;
    margin-top: 16px;
    min-width: 24px;
    width: 24px;
  }
  img[id="home button"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    position: relative;
  }
  img[id="bt button"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    position: relative;
  }
  img[id="entreprise button"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    position: relative;
  }
  img[id="client button"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    position: relative;
  }
  div[id="home text"] {
    align-self: center;
    box-sizing: border-box;
    display: none;
    right: 150px;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    height: 19.1875px;
    width: 161px;
    color: #45BAB8;
  }
  div[id="bt text"] {
    align-self: center;
    box-sizing: border-box;
    display: none;
    right: 150px;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    height: 19.1875px;
    width: 161px;
    color: #45BAB8;
  }
  div[id="entreprise text"] {
    align-self: center;
    box-sizing: border-box;
    display: none;
    right: 150px;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    height: 19.1875px;
    width: 161px;
    color: #45BAB8;
  }div[id="client text"] {
    align-self: center;
    box-sizing: border-box;
    display: none;
    right: 150px;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    height: 19.1875px;
    width: 161px;
    color: #45BAB8;
  }
  a[id="compte page"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    width: 72px;
    height: 57px;
    border-bottom: 1px solid;
    position: relative;
    border-bottom-color: white;
  }
  img[id="compte button"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    position: relative;
  }
  div[id="compte text"] {
    align-self: center;
    box-sizing: border-box;
    display: none;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    height: 19.1875px;
    width: 161px;
    color: white;
  }
  a[id="login page"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    height: 57px;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    border-bottom: 1px solid;
    border-bottom-color: white;
  }
  img[id="deconnexion button"] {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    position: relative;
  }
  div[id="login text"] {
    align-self: center;
    box-sizing: border-box;
    display: none;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    height: 19.1875px;
    width: 161px;
    color: white;
  }
  div[id="main box"] {
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
    height: 100%;
    width: 90%;
    padding-left: 72px;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
}
header[id="header of the main box"] {
    box-sizing: border-box;
    display: flex;
    position: relative;
    width: 100%;
    height : 10%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.12);
}
input[id="text nom title header of the main box"] {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    font-size: large;
    border: none;
    top: 20px;
    margin-left: 30px;
    text-decoration: none;
    outline: none;
    background-color: #fff;
    color: black;
    width: 780px;
}
input[id="text maitre title header of the main box"] {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  font-size: large;
  border: none;
  top: 20px;
  margin-left: 30px;
  text-decoration: none;
  outline: none;
  background-color: #fff;
  color: black;
  width: 780px;
}
button[id="button of the title"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 80px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
img[id="crayon of the title"] {
  box-sizing: border-box;
  display: flex;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.svg-wrapper {
  box-sizing: border-box;
  position: relative;
  margin-top: 60px;
  transform: translateY(-50%);
  margin-left: 30px;
  width: 100%;
}
.shape {
  stroke-dasharray: 740 1240;
  stroke-dashoffset: 1050;
  stroke-width: 6px;
  fill: transparent;
  stroke: #22334d;
  border-bottom: 4px solid #22334d;
  transition: stroke-width 2s, stroke-dashoffset 2s, stroke-dasharray 2s;
  -webkit-transition: stroke-width 2s, stroke-dashoffset 2s, stroke-dasharray 2s;
  -moz-transition: stroke-width 2s, stroke-dashoffset 2s, stroke-dasharray 2s;
  -ms-transition: stroke-width 2s, stroke-dashoffset 2s, stroke-dasharray 2s;
  -o-transition: stroke-width 2s, stroke-dashoffset 2s, stroke-dasharray 2s;
}
.text {
  font-family: 'Roboto Condensed';
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #fff;
  top: -48px;
  position: relative;
}
div[id="container main information"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  height: 90%;
  width: 100%;
}
div[id="container nav operation"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  height: 100%;
  width: 20%;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.12);
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
nav[id="nav operation"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
div[id="list element of the operation"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
div[id="main information of the list of the operation"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 35px;
  cursor: pointer;
  background-color: #45bab871;
  font-weight: bold;
}
img[class="triangle_bas"] {
  box-sizing: border-box;
  display: flex;
  width: 32px;
  height: 32px;
}
img[id="operation"] {
  box-sizing: border-box;
  display: flex;
  margin-left: 5px;
  width: 26px;
  height: 26px;
  border: none;
}
img[id="del"] {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  right: 15px;
  width: 16px;
  height: 16px;
  border: none;
}
span[id="text element of list"] {
  margin-left: 9px;
  font-size: large;
}
div[id="list of the lot of the operation"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-top: 4px;
  margin-left: 20px;
  flex-direction: column;
  height: 721.7px;
  width: 94.5%;
  overflow-y: auto;
}
div[id="list of the lot of the operation"]::-webkit-scrollbar {
  width: 0px;
}
div[class="container of the lot"] {
  box-sizing: border-box;
  display: none;
  position: relative;
  margin-top: 5px;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 35px;
  cursor: pointer;
}
div[id="container add lot"] {
  box-sizing: border-box;
  display: none;
  position: relative;
  margin-top: 5px;
  margin-right: 10px;
  flex-direction: row;
  align-items: center;
  width: 90%;
  height: 35px;
  border-bottom: 1px dotted;
  border-color: #929292;
  color: #929292;
  font-size: small;
  font-weight: bold;
  cursor: pointer;
}
img[id="add lot"] {
  box-sizing: border-box;
  display: flex;
  margin-left: 5px;
  width: 26px;
  height: 26px;
  border: none;
}
div[id="text add lot"] {
  box-sizing: border-box;
  display: flex;
}
div[id="extented the nav"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: 5%;
  margin-top: 5%;
}
button[id="button extented the nav"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  height: 100%;
  width: 50px;
  margin-left: 300px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
img[id="arrow"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}
div[id="container form operation"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 80%;
  height: 100%;
  padding-left: 0px;
  flex-direction: column;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
div[id="container form info generale"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}
div[id="container button"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 430px;
  height: 5%;
  margin-top: 30px;
  margin-left: 30px;
  flex-direction: row;
  background-color: green;
}
div[id="box button info generale"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  height: 100%;
  width: 50%;
  border: 1px solid;
  border-color: #22334d;
  cursor: pointer;
}
div[id="box button info dimensionnelle"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  height: 100%;
  width: 50%;
  border: 1px solid;
  border-color: #22334d;
  cursor: pointer;
}
button[id="button info generale"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #22334d;
  font-size: large;
  padding-left: 60px;
  flex-direction: row;
  align-items: center;
  color: #fff;
  border: none;
  cursor: pointer;
}
button[id="button info dimensionnelle"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #fff;
  font-size: large;
  padding-left: 30px;
  flex-direction: row;
  align-items: center;
  color: #22334d;
  border: none;
  cursor: pointer;
}
div[id="container form generale"] {
  box-sizing: border-box;
  display: block;
  position: relative;
  flex-direction: column;
  width: 90%;
  height: 85%;
  margin-top: 15px;
  margin-left: 30px;
  /*background-color: red;*/
  overflow-y: auto;
}
div[id="container form generale"]::-webkit-scrollbar {
  width: 0px;
}
div[class="container 2 input"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: row;
  width: 90%;
  height: 120px;
  align-items: center;
  margin-top: 5px;
  margin-left: 15px;
  /*background-color: blue;*/
}
div[class="1 input"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 60px;
  /*background-color: green;*/
  border-bottom: 1px solid;
}
div[class="2 input"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 60px;
  width: 100%;
  height: 60px;
  /*background-color: pink;*/
  border-bottom: 1px solid;
}
input[class="input generale"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-top: 8px;
  width: 95%;
  height: 50%;
  border: none;
  font-size: large;
  /*background-color: #fff;*/
  outline: none;
}
input[class="input lot"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-top: 8px;
  width: 95%;
  height: 50%;
  border: none;
  font-size: large;
  /*background-color: #fff;*/
  outline: none;
}
select[class="input generale"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-top: 11px;
  width: 100%;
  height: 50%;
  border: none;
  font-size: large;
  background-color: #fff;
  outline: none;
}
select[class="input lot"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-top: 11px;
  width: 100%;
  height: 50%;
  border: none;
  font-size: large;
  background-color: #fff;
  outline: none;
}
select[class="input generale_bis"] {
  box-sizing: border-box;
  display: none;
  position: relative;
  margin-top: 11px;
  width: 100%;
  height: 50%;
  border: none;
  font-size: large;
  background-color: #fff;
  outline: none;
}
div[id="container form dimensionnelle"] {
  box-sizing: border-box;
  display: none;
  position: relative;
  flex-direction: column;
  width: 90%;
  height: 85%;
  margin-top: 25px;
  margin-left: 30px;
  /*background-color: green;*/
  overflow-y: auto;
}
div[id="container form dimensionnelle"]::-webkit-scrollbar {
  width: 0px;
}
span[id="title input"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  opacity: 0.3;
}
div[class="container sous categorie"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 90%;
  height: 70px;
  margin-left: 15px;
}
div[class="header container sous catgeorie"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.048);
}
span[class="title container sous categorie"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-left: 20px;
  width: 400px;
  height: auto;
}
img[class="extend sous categorie"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-left: 730px;
  width: 40px;
  height: 40px;
}
div[id="container form 1"] {
  box-sizing: border-box;
  display: none;
  position: relative;
  flex-direction: column;
  width: 90%;
  height: 70px;
  align-items: center;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
div[id="container form 2"] {
  box-sizing: border-box;
  display: none;
  position: relative;
  flex-direction: column;
  width: 90%;
  height: 70px;
  align-items: center;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
div[id="container form 3"] {
  box-sizing: border-box;
  display: none;
  position: relative;
  flex-direction: column;
  width: 90%;
  height: 70px;
  align-items: center;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
div[id="container form 4"] {
  box-sizing: border-box;
  display: none;
  position: relative;
  flex-direction: column;
  width: 90%;
  height: 70px;
  align-items: center;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
div[class="container 2 input dimension"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 70px;
  margin-bottom: 40px;
  align-items: center;
}
div[id="container submit"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: right;
  height: 10%;
  width: 100%;
  padding-right: 10px;
  box-shadow: 1px 2px 6px inset rgba(0, 0, 0, 0.12);
}
.button1::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.button1 {
  background: #45bab8;
  border: 1px solid #45bab8;
  border-radius: 10px;
  color: #fff;
  display: block;
  font-size: large;
  font-weight: bold;
  margin-left: 20px;
  position: relative;
  text-transform: uppercase;
  width: 160px;
  height: 40px;
}
.button1::before,
.button1::after {
  background: #fff;
  content: "";
  position: absolute;
  z-index: -1;
}
.button1:hover {
  background: #43a092;
}
.button1::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}
.button1:hover:after {
  width: 100%;
}
div[class="container form lot"] {
  box-sizing: border-box;
  display: none;
  position: relative;
  width: 80%;
  height: 100%;
  padding-left: 0px;
  flex-direction: column;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
div[class="container info generale lot"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: 36px;
  margin-top: 30px;
  margin-left: 15px;
  flex-direction: row;
}
div[class="1 input lot"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 20%;
  height: 60px;
  /*background-color: green;*/
  border-bottom: 1px solid;
}
div[class="2 input lot"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 60px;
  width: 20%;
  height: 60px;
  /*background-color: pink;*/
  border-bottom: 1px solid;
}
div[class="3 input lot"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 60px;
  width: 20%;
  height: 60px;
  /*background-color: pink;*/
}
span[class="title liste d'article"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 25px;
  margin-left: 30px;
  margin-top: 70px;
}
div[class="container champ"] {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: space-between;
  margin-top: 70px;
  padding-left: 30px;
  margin-right: 81.3333px;
  width: 100%;
  border-top: 1px solid;
  border-color: #929292;
}
div[class="champ"] {
  box-sizing: border-box;
  display: flex;
  margin-top: 30px;
  height: 100%;
  width: 33.5%;
  color: #929292;
  font-weight: bold ;
}
div[id="text"] {
  box-sizing: border-box;
  display: flex;
  margin-top: 3px;
}
div[class="container article"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  height: 83%;
  border-bottom: 1px solid;
  border-color: #929292;
  overflow-y: auto;
}
div[class="container article"]::-webkit-scrollbar {
  width: 0px;
}
div[class="box article"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 40px;
  width: 100%;
  border-top: 1px solid;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-color: #929292;
}
div[class="champ article"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  height: 80px;
  width: 33.5%;
  color: black;
}

div[id="Quantite champ"] {
  width: 7%;
}

div[id="Quantite article"] {
  width: 7%;
}

div[id="Prix Unitaire champ"] {
  width: 7%;
}

div[id="Prix Unitaire article"] {
  width: 7%;
}

div[id="Unite champ"] {
  width: 7%;
}

div[id="Unite article"] {
  width: 7%;
}

div[id="TVA champ"] {
  width: 5%;
}

div[id="TVA article"] {
  width: 5%;
}

div[id="Prix totale champ"] {
  width: 7%;
}

div[id="Prix totale article"] {
  width: 7%;
}

div[id="text montant totale lot"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-top: 20px;
  width: 270px;
  height: 40px;
}
div[id="box montant totale lot"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 360px;
  height: 40px;
  border: 1px solid;
  justify-content: center;
  align-items: center;
  border-color: #929292;
}
button[id="button add article"] {
  margin-right: 100px;
  width: 200px;
}
button[id="button add entreprise"] {
  margin-right: 50px;
  width: 250px;
}
nav[id="navigation d'ajout d'article"] {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  height: 100%;
  width: 440px;
  margin-left: 100vw;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  flex-direction: column;
  z-index: 6;
}
div[id="cancel add"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  height: 5%;
  width: 100%;
  margin-top: 10px;
  align-items: center;
}
img[id="cancel"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  height: 24px;
  width: 24px;
  margin-left: 20px;
  cursor: pointer;
}
div[id="container input ajout d'article"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
  flex-direction: column;
  width: 100%;
  height: 85%;
}
div[class="input ajout d'article"] {
  box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-top: 20px;
  width: 400px;
  height: 10%;
  flex-direction: column;
}
input[class="ajout d'article"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 20px;
  border: none;
  outline: none;
  font-size: large;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}
div[id="search article"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
}

img[id="search"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  cursor: pointer;
}
div[id="container submit modif d'article"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: 10%;
  flex-direction: row;
  justify-content: space-between;
}
button[id="button modif article"] {
  margin-right: 10px;
}
nav[id="navigation d'ajout d'entreprise"] {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  height: 100%;
  width: 440px;
  margin-left: 100vw;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  flex-direction: column;
  z-index: 7;
}
nav[id="navigation d'ajout de maitre"] {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  height: 100%;
  width: 440px;
  margin-left: 100vw;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  flex-direction: column;
  z-index: 7;
}
div[id="container input ajout d'entreprise"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
div[class="input ajout d'entreprise"] {
  box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-top: 20px;
  width: 400px;
  height: 10%;
  flex-direction: column;
}
input[class="ajout d'entreprise"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 20px;
  border: none;
  outline: none;
  font-size: large;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}
button[id="button entreprise"] {
  margin-right: 250px;
}
div[id="recherche d'article"] {
  box-sizing: border-box;
  position: absolute;
  display: none;
  flex-direction: column;
  margin-left: 72px;
  margin-top: 100vh;
  width: 96.3%;
  height: 100%;
  z-index:2;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgb(255, 255, 255);
}
div[id="main info recherche article"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: 90%;
  flex-direction: row;
}
div[id="filtrage article"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 33%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  border-color: #22334d;
}
div[id="resultat article"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 67%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
div[id="title filtrage article"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 50%;
  height: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: large;
}
div[id="title resultat article"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 50%;
  height: 5%;
  margin-top: 20px;
  justify-content: center;
  font-size: large;
  align-items: center;
  font-weight: bold;
}
div[id="aborescence article"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: 80%;
  margin-top: 20px;
  flex-direction: column;
  overflow-y: auto;
}
div[id="aborescence article"]::-webkit-scrollbar {
  width: 0px;
}
div[id="liste article"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: 80%;
  margin-top: 20px;
  flex-direction: column;
  overflow-y: auto;
}
div[id="liste article"]::-webkit-scrollbar {
  width: 0px;
}
div[class="option filtrage section"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: 20px;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
}
div[class="texte section"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: row;
}
img[id="plus"] {
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 20px;
  height: 20px;
}
img[id="moins"] {
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 20px;
  height: 20px;
}
div[class="liste options filtrage theme"] {
  box-sizing: border-box;
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
div[class="option filtrage theme"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: 20px;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
}
div[class="texte theme"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: row;
}
div[class="liste options filtrage chapitre"] {
  box-sizing: border-box;
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
div[class="option filtrage chapitre"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: 20px;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
}
div[class="texte chapitre"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: row;
}
div[class="liste options filtrage sous_chapitre"] {
  box-sizing: border-box;
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
div[class="option filtrage sous_chapitre"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: 20px;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
}
div[class="texte sous_chapitre"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: row;
}
div[class="liste options filtrage prestation"] {
  box-sizing: border-box;
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
div[class="option filtrage prestation"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: 20px;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
}
div[class="texte prestation"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: row;
}
div[id="title liste article"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: 20px;
  flex-direction: row;
}
div[class="nom liste article"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 88%;
  height: 20px;
  margin-left: 30px;
}
div[class="unite liste article"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 5%;
  height: 20px;
  margin-left: 30px;
}
div[class="selection liste article"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 7%;
  height: 20px;
  margin-left: 30px;
}
div[class="article of liste"] {
  box-sizing: border-box;
  display: none;
  position: relative;
  width: 100%;
  height: 30px;
  flex-direction: row;
  margin-top: 5px;
  align-items: center;
}
div[class="nom of article of liste"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 88%;
  height: 20px;
  margin-left: 30px;
}
div[class="unite of article of liste"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 5%;
  height: 20px;
  margin-left: 30px;
}
div[class="selection of article of liste"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 7%;
  height: 20px;
  margin-left: 30px;
}
div[id="bottom page recherche article"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: 10%;
}
div[id="container submit recherche article"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  justify-content: right;
}
button[id="button save article"] {
  margin-right: 20px;
}
div[id="container validation"] {
  box-sizing: border-box;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.459);
  width: 100%;
  height: 100%;
  z-index: 202;
}
div[id="box validation"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  background-color: #fff;
  flex-direction: column;
  margin-left: 38%;
  width: 500px;
  height: 219px;
}
div[id="title box validation"] {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%
}
img[id="poubelle_bis"] {
  box-sizing: border-box;
  display: flex;
  width: 24px;
  height: 24px;
  margin-left: 30px;
}
div[id="button form validation"] {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 30%;
  margin-top: 60px;
  flex-direction: row;
  align-items: center;
}
div[id="button form update operation"] {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 30%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button2::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.button2 {
  background: white;
  border: 1px solid rgb(37, 37, 37);
  border-radius: 10px;
  color: rgb(37, 37, 37);
  display: block;
  font-size: large;
  font-weight: bold;
  margin: 10px auto;
  position: relative;
  text-transform: uppercase;
  width: 110px;
  height: 40px;
}
.button2::before,
.button2::after {
  background: #fff;
  content: "";
  position: absolute;
  z-index: -1;
}
.button2:hover {
  background: rgb(228, 227, 227);
}
.button2::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}
.button2:hover:after {
  width: 100%;
}
div[id="test box hover"] {
  box-sizing: border-box;
  display: none;
  position: absolute;
  height: 15px;
  width: 820px;
  margin-bottom: 30px;
  margin-left: 140px;
  border: 1px solid;
  border-color: #22334d;
  color: #929292;
  font-size: small;
}
nav[id="navigation d'ajout d'article a la tram"] {
  box-sizing: border-box;
  display: none;
  position: absolute;
  height: 100%;
  width: 440px;
  margin-left: 100vw;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  flex-direction: column;
  z-index: 6;
}
span[class="title container selection"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  color: #22334d;
  opacity: 0.3;
}
div[id="container selection section"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-top: 40px;
  width: 100%;
  height: 43px;
  flex-direction: column;
  border-bottom: 1px solid;
}
select[class="selection section"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  outline: none;
  background-color: #fff;
  border: none;
  margin-top: 5px;
}
div[id="container selection theme"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-top: 40px;
  width: 100%;
  height: 43px;
  flex-direction: column;
  border-bottom: 1px solid;
}
select[class="selection theme"] {
  box-sizing: border-box;
  display: none;
  position: relative;
  width: 100%;
  height: auto;
  outline: none;
  background-color: #fff;
  border: none;
  margin-top: 5px;
}
div[id="container selection chapitre"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-top: 40px;
  width: 100%;
  height: 43px;
  flex-direction: column;
  border-bottom: 1px solid;
}
select[class="selection chapitre"] {
  box-sizing: border-box;
  display: none;
  position: relative;
  width: 100%;
  height: auto;
  outline: none;
  background-color: #fff;
  border: none;
  margin-top: 5px;
}
div[id="container selection sous_chapitre"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-top: 40px;
  width: 100%;
  height: 43px;
  flex-direction: column;
  border-bottom: 1px solid;
}
select[class="selection sous_chapitre"] {
  box-sizing: border-box;
  display: none;
  position: relative;
  width: 100%;
  height: auto;
  outline: none;
  background-color: #fff;
  border: none;
  margin-top: 5px;
}
div[id="container selection prestation"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-top: 40px;
  width: 100%;
  height: 43px;
  flex-direction: column;
  border-bottom: 1px solid;
}
select[class="selection prestation"] {
  box-sizing: border-box;
  display: none;
  position: relative;
  width: 100%;
  height: auto;
  outline: none;
  background-color: #fff;
  border: none;
  margin-top: 5px;
}
div[id="container selection nom"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-top: 40px;
  width: 100%;
  height: 43px;
  flex-direction: column;
  border-bottom: 1px solid;
}
div[id="container submit ajout d'article a la tram"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  height: 10%;
  flex-direction: row;
  margin-top: 280px;
  justify-content: space-between;
}
div[id="container selection unite"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-top: 40px;
  width: 100%;
  height: 43px;
  flex-direction: column;
  border-bottom: 1px solid;
}
label[for="switch operation"] {
  margin-left: 300px;
}
div[id="box validation de l'operation"] {
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  margin-left: 900px;
}
div[class="container maitre"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 900px;
  height: 40px;
  background-color: red;
  margin-right: 350px;
  margin-top: 15px;
  border-bottom: 3px solid;
}
select[id="maitre ouvrage select"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  outline: none;
  border: none;
  background-color: #fff;
}
div[id="add maitre ouvrage"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 100px;
  margin-top: 30px;
  cursor: pointer;
}
div[id="box span"] {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 50px;
}
img[id="plus tram"] {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
nav[id="navigation d'ajout prestation a la tram"] {
  box-sizing: border-box;
  display: none;
  position: absolute;
  height: 100%;
  width: 440px;
  margin-left: 100vw;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  flex-direction: column;
  z-index: 7;
}nav[id="navigation d'ajout sous-chapitre a la tram"] {
  box-sizing: border-box;
  display: none;
  position: absolute;
  height: 100%;
  width: 440px;
  margin-left: 100vw;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  flex-direction: column;
  z-index: 7;
}