<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">

        <title>Observatoire</title>

        <link rel="stylesheet" href="/css/client.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"/>
        <link rel="website icon" type="png" href="/image/logo_simonneau.png">

    </head>

    <body onload="load();">

      <div id="container">

        <nav id="shadow Dashboard">

          <div id="liste text button">

            <div id="container text button">

              <a id="text button" href="/home">Mes Operations</a>

            </div>

            <div id="container text button">

              <a id="text button" href="/indice_bt">Indice BT</a>

            </div>

            <div id="container text button">

              <a id="text button" href="/entreprise">Entreprise</a>

            </div>

            <div id="container text button client">

              <a id="text button client" href="/client">Client</a>

            </div>

            <div id="container text button">

              <a id="text button">Mon compte</a>

            </div>

            <div id="container text button">

              <a id="text button" href="/">Se deconnecter</a>

            </div>

          </div>

        </nav>

        <nav id="box Dashboard" onmouseover="slide_right_dashboard();">

          <div id="container image">

            <img id="logo simonneau" src="/image/logo_simonneau.png" alt="simonneau logo"/>
            <img id="logo simonneau avec ecriture" src="/image/logo_simoneau_avec_ecriture.png" alt="simonneau logo" hidden/>

          </div>

          <div id="container liste button">

            <div id="liste button">

              <a id="home page" href="/home">

                <div id="box button">

                  <img id="home button" src="/image/home.png" alt="home page"/>

                </div>

                <div id="home text">Mes Operations</div>

              </a>

              <a id="bt page" href="/indice_bt">

                <div id="box button">

                  <img id="bt button" src="/image/statistique.png" alt="indice_bt page">

                </div>

                <div id="bt text">Indice BT</div>

              </a>

              <a id="entreprise page" href="/entreprise">

                <div id="box button">

                  <img id="entreprise button" src="/image/entreprise.png" alt="entreprise page">

                </div>

                <div id="entreprise text">Entreprise</div>

              </a>

              <a id="client page" href="/client">

                <div id="box button">

                  <img id="client button" src="/image/client_color.png" alt="client page">

                </div>

                <div id="client text">Client</div>

              </a>

              <a id="compte page">

                <div id="box button">

                  <img id="compte button" src="/image/compte.png" alt="compte page">

                </div>

                <div id="compte text">Mon compte</div>

              </a>

              <a id="login page" href="/">

                <div id="box button">

                  <img id="deconnexion button" src="/image/deconnexion.png" alt="login page">

                </div>

                <div id="login text">Se deconnecter</div>

              </a>

            </div>

          </div>

        </nav>

        <div id="main box" onmouseover="slide_left_dashboard();">

          <div id="main_wrap">

              <div id="body">

                <div id="main_container">

                  <header id="header main box">

                    <div id="box header main box">

                      <div id="Title">Clients</div>

                    </div>

                  </header>

                  <div id="container Client">

                      <div id="Box container Client">

                          <div id="Box content Client">

                              <div id="container sorters">

                                <div id="nom filter">

                                   <div id="text">Nom</div>

                                </div>

                                <div id="abreviation filter">

                                  <div id="text">Abreviation</div>

                               </div>

                                <div id="adresse filter">

                                  <div id="text">Adresse</div>

                                </div>

                              </div>

                              <div id="List Client"></div>

                          </div>

                        </div>

                  </div>

                  <div id="container submit">

                      <div id="box submit">

                          <button type="button" class="button1" id="button client" onclick="slide_client();">Ajouter</button>

                      </div>

                  </div>

                </div>

              </div>

            </div>

      </div>

      <nav id="navigation d'ajout d'client">

          <div id="cancel add">

            <img src="/image/close.png" id="cancel" onclick="cancel_slide_client();"/>

          </div>

          <div id="container input ajout d'client">

            <div class="input ajout d'client">

              <span id="title input">Nom</span>

              <input name="TEST" value="" id="nom" class="ajout d'client"/>

            </div>

            <div class="input ajout d'client">

              <span id="title input">Abreviation</span>

              <input name="TEST" value="" id="abreviation" class="ajout d'client"/>

            </div>

            <div class="input ajout d'client">

              <span id="title input">Adresse</span>

              <input name="TEST" value="" id="adresse" class="ajout d'client"/>

            </div>

           </div>

          <div id="container submit">

            <button type="button" class="button1" id="button ajout client" onclick="ajout_client();">Sauvegarder</button>

          </div>

      </nav>

       </div>

       <div id="container validation">

        <div id="box validation">

            <div id="title box validation">

              <div id="text title operation">Etes-vous sur de vouloir supprimer cette operation ?</div>

            </div>

            <div id="button form validation">

              <button type="button" class="button2" onclick="cancel_sup();">Annuler</button>

              <button type="submit" class="button2" onclick="delete_lot();">Valider</button>

            </div>

        </div>

      </div>

       <script type="application/json" src="/index.js" async></script>
       <script src="/js/script_client.js" async></script>

    </body>

</html>