<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">

        <title>Observatoire</title>

        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"/>
        <link rel="website icon" type="png" href="/image/logo_simonneau.png">

    </head>

    <body onload="load_operation();">

      <div id="container">


        <nav id="shadow Dashboard">

          <div id="liste text button">

            <div id="container text button home">

              <a id="text button home" href="http://localhost:3000/home">Mes Operations</a>

            </div>

            <div id="container text button">

              <a id="text button">Mon compte</a>

            </div>

            <div id="container text button">

              <a id="text button" href="http://localhost:3000">Se deconnecter</a>

            </div>

          </div>

        </nav>

        <nav id="box Dashboard" onmouseover="slide_right_dashboard();">

          <div id="container image">

            <img id="logo simonneau" src="/image/logo_simonneau.png" alt="simonneau logo"/>
            <img id="logo simonneau avec ecriture" src="/image/logo_simoneau_avec_ecriture.png" alt="simonneau logo" hidden/>

          </div>

          <div id="container liste button">

            <div id="liste button">

              <a id="home page" href="http://localhost:3000/home">

                <div id="box button">

                  <img id="home button" src="/image/home_color.png" alt="home page"/>

                </div>

                <div id="home text">Mes Operations</div>

              </a>

              <a id="compte page">

                <div id="box button">

                  <img id="compte button" src="/image/compte.png" alt="compte page">

                </div>

                <div id="compte text">Mon compte</div>

              </a>

              <a id="login page" href="http://localhost:3000">

                <div id="box button">

                  <img id="deconnexion button" src="/image/deconnexion.png" alt="login page">

                </div>

                <div id="login text">Se deconnecter</div>

              </a>

            </div>

          </div>

        </nav>

        <main id="main box" onmouseover="slide_left_dashboard();" onclick="reset_shadow_box();">

          <div id="main_wrap">

            <div id="body">

              <div id="main_container">

                <header id="header main box">

                  <div id="box header main box">

                    <div id="Title">Mes Operations</div>

                    <div class="search-box">
                      <input type="text" placeholder="Recherche" id="search input" onkeyup="get_value_input();"/>
                      <div class="search-btn">
                        <i class="fas fa-search"></i>
                      </div>
                      <div class="cancel-btn">
                        <i class="fas fa-times"></i>
                      </div>
                    </div>
                    <script id="rendered-js">

                      const searchBtn = document.querySelector(".search-btn");
                      const cancelBtn = document.querySelector(".cancel-btn");
                      const searchBox = document.querySelector(".search-box");

                      searchBtn.onclick = () => {
                        searchBox.classList.add("active");
                      }
                      cancelBtn.onclick = () => {
                        searchBox.classList.remove("active");
                      }

                    </script>

                    <a href="/home/operation" class="myButton">

                      <img src="/image/plus.png" id="icon plus"/>

                    </a>

                  </div>

                </header>

                <div id="container Operation">

                    <div id="Box container Operation">

                      <div id="Box content Operation">

                          <div id="container sorters">

                            <div id="name filter" onclick="change_icon_name();">

                              <div id="text">Nom</div>

                              <img src="/image/chevron-en-bas.png" id="name filter image" class="Sorted"/>

                            </div>

                            <div id="creator filter" onclick="change_icon_creator();">

                              <div id="text">Créé par</div>

                              <img src="/image/chevron-en-bas.png" id="creator filter image" class="Sorted">

                            </div>

                            <div id="Maitre d'ouvrage filter" onclick="change_icon_Maitre();">

                              <div id="text">Maitre d'ouvrage</div>

                              <img src="/image/chevron-en-bas.png" id="Maitre d'ouvrage filter image" class="Sorted">

                            </div>

                            <div id="date filter" onclick="change_icon_date();">

                              <div id="text">Date de création</div>

                              <img src="/image/chevron-en-bas.png" id="date filter image" class="Sorted">

                            </div>

                          </div>

                          <div id="List Operation">

                            <div id="container List Operation"></div>

                          </div>

                      </div>

                    </div>

                </div>

              </div>

            </div>

          </div>

        </main>

      </div>

      <div id="box update operation">

        <div id="box renommer" onclick="get_rename();">

          <img src="/image/ecrivez.png" id="crayon"/>

          <div id="box text update">Renommer</div>

        </div>

        <div id="box dupliquer" onclick="get_duplicate();">

          <img src="/image/dupliquer.png" id="dupliquer"/>

          <div id="box text update">Dupliquer</div>

        </div>

        <div id="box supprimer" onclick="get_sup();">

          <img src="/image/bouton-de-suppression-de-la-poubelle.png" id="poubelle"/>

          <div id="box text update">Supprimer</div>

        </div>

      </div>

      <div id="container rename operation">

          <div id="box rename operation">

              <div id="title box rename operation">

                <img src="/image/ecrivez.png" id="crayon_bis"/>

                <div id="text title operation">Renommer une operation</div>

              </div>

              <form id="form update name" method="post" action="home/update">

                <label id="title name input">Nom</label>

                <input id="name input" name="nom" placeholder="Taper un nom d'operation"/>

              </form>

              <div id="button form update operation">

                <button type="button" class="button2" onclick="back_to_home();">Annuler</button>

                <button type="submit" class="button1" onclick="go_to_update();">Valider</button>

              </div>

          </div>

      </div>
      <script src="/index.js" async></script>
      <script src="/js/script.js" async></script>

    </body>

</html>