<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">

        <title>Observatoire</title>

        <link rel="stylesheet" href="/css/indice_bt.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"/>
        <link rel="website icon" type="png" href="/image/logo_simonneau.png">

    </head>

    <body onload="load('01', 'Tout corps d\'état');">

      <div id="container">

        <nav id="shadow Dashboard">

          <div id="liste text button">

            <div id="container text button">

              <a id="text button" href="/home">Mes Operations</a>

            </div>

            <div id="container text button indice_bt">

              <a id="text button indice_bt" href="/indice_bt">Indice BT</a>

            </div>

            <div id="container text button">

              <a id="text button" href="/entreprise">Entreprise</a>

            </div>

            <div id="container text button">

              <a id="text button" href="/client">Client</a>

            </div>

            <div id="container text button">

              <a id="text button">Mon compte</a>

            </div>

            <div id="container text button">

              <a id="text button" href="/">Se deconnecter</a>

            </div>

          </div>

        </nav>

        <nav id="box Dashboard" onmouseover="slide_right_dashboard();">

          <div id="container image">

            <img id="logo simonneau" src="/image/logo_simonneau.png" alt="simonneau logo"/>
            <img id="logo simonneau avec ecriture" src="/image/logo_simoneau_avec_ecriture.png" alt="simonneau logo" hidden/>

          </div>

          <div id="container liste button">

            <div id="liste button">

              <a id="home page" href="/home">

                <div id="box button">

                  <img id="home button" src="/image/home.png" alt="home page"/>

                </div>

                <div id="home text">Mes Operations</div>

              </a>

              <a id="bt page" href="/indice_bt">

                <div id="box button">

                  <img id="bt button" src="/image/statistique_color.png" alt="indice_bt page">

                </div>

                <div id="bt text">Indice BT</div>

              </a>

              <a id="entreprise page" href="/entreprise">

                <div id="box button">

                  <img id="entreprise button" src="/image/entreprise.png" alt="entreprise page">

                </div>

                <div id="entreprise text">Entreprise</div>

              </a>

              <a id="client page" href="/client">

                <div id="box button">

                  <img id="client button" src="/image/client.png" alt="client page">

                </div>

                <div id="client text">Client</div>

              </a>

              <a id="compte page">

                <div id="box button">

                  <img id="compte button" src="/image/compte.png" alt="compte page">

                </div>

                <div id="compte text">Mon compte</div>

              </a>

              <a id="login page" href="/">

                <div id="box button">

                  <img id="deconnexion button" src="/image/deconnexion.png" alt="login page">

                </div>

                <div id="login text">Se deconnecter</div>

              </a>

            </div>

          </div>

        </nav>

        <div id="main box" onmouseover="slide_left_dashboard();">

            <div id="main_wrap">

                <div id="body">

                  <div id="main_container">

                    <header id="header main box">

                      <div id="box header main box">

                        <div id="Title">Indice BT</div>

                      </div>

                      <div id="box calendar">

                        <div class="dropdown">
                          <button class="dropbtn">Selectionne un Indice Bt</button>
                          <div class="dropdown-content">
                            <div onclick="load('01', 'Tout corps d\'état')"> Indice Bt 01</div>
                            <div onclick="load('02', 'Terrassements')"> Indice Bt 02</div>
                            <div onclick="load('03', 'Maçonnerie et canalisations en béton')"> Indice Bt 03</div>
                            <div onclick="load('06', 'Ossature, ouvrages en béton armé')"> Indice Bt 06</div>
                            <div onclick="load('07', 'Ossature et charpentes métalliques')"> Indice Bt 07</div>
                            <div onclick="load('08', 'Plâtre et préfabriqués')"> Indice Bt 08</div>
                            <div onclick="load('09', 'Carrelage et revêtement céramique')"> Indice Bt 09</div>
                            <div onclick="load('10', 'Revêtements en plastiques')"> Indice Bt 10</div>
                            <div onclick="load('11', 'Revêtements en textiles synthétiques')"> Indice Bt 11</div>
                            <div onclick="load('12', 'Revêtements en textiles naturels')"> Indice Bt 12</div>
                            <div onclick="load('14', 'Revêtements en plaque de pierre naturelle sciée et produit assimilés')"> Indice Bt 14</div>
                            <div onclick="load('16b', 'Charpentes bois')"> Indice Bt 16b</div>
                            <div onclick="load('18b', 'Menuiserie intérieure en bois')"> Indice Bt 18b</div>
                            <div onclick="load('19b', 'Menuiserie extérieure en bois')"> Indice Bt 19b</div>
                            <div onclick="load('26', 'Fermeture de baies en plastique y compris fenêtre PVC')"> Indice Bt 26</div>
                            <div onclick="load('27', 'Fermeture de baies en aluminium')"> Indice Bt 27</div>
                            <div onclick="load('28', 'Fermeture de baies en metal ferreux')"> Indice Bt 28</div>
                            <div onclick="load('30', 'Couverture en ardoises de schiste')"> Indice Bt 30</div>
                            <div onclick="load('32', 'Couverture en tuiles en terre cuite')"> Indice Bt 32</div>
                            <div onclick="load('33', 'Couverture en tuiles en béton')"> Indice Bt 33</div>
                            <div onclick="load('34', 'Couverture en zinc et en métal')"> Indice Bt 34</div>
                            <div onclick="load('35', 'Couverture en bardeaux bitumés')"> Indice Bt 35</div>
                            <div onclick="load('38', 'Plomberie sanitaire')"> Indice Bt 38</div>
                            <div onclick="load('40', 'Chauffage central')"> Indice Bt 40</div>
                            <div onclick="load('41', 'Ventilation et conditionnement d\'air')"> Indice Bt 41</div>
                            <div onclick="load('42', 'Menuiserie en acier et serrurie')"> Indice Bt 42</div>
                            <div onclick="load('43', 'Menuiserie en alliage d\'aluminium')"> Indice Bt 43</div>
                            <div onclick="load('45', 'Vitrerie-Miroiterie')"> Indice Bt 45</div>
                            <div onclick="load('46', 'Peinture, tenture, revêtements muraux')"> Indice Bt 46</div>
                            <div onclick="load('47', 'Electricité')"> Indice Bt 47</div>
                            <div onclick="load('48', 'Ascenseurs')"> Indice Bt 48</div>
                            <div onclick="load('49', 'Couverture et bardage en tôles d\'acier nervurés avec revêtement étanchéité')"> Indice Bt 49</div>
                            <div onclick="load('50', 'Rénovation - Entretien tous corps d\'état')"> Indice Bt 50</div>
                            <div onclick="load('51', 'Menuiserie PVC')"> Indice Bt 51</div>
                            <div onclick="load('52', 'Imperméabilité de façades')"> Indice Bt 52</div>
                            <div onclick="load('53', 'Etanchéité')"> Indice Bt 53</div>
                            <div onclick="load('54', 'Ossature bois')"> Indice Bt 54</div>
                          </div>
                        </div>

                        <button class="dropbtn" style="margin-left: 20px;" onclick="exportToPDF()">Exporter PDF</button>

                      </div>

                    </header>

                    <div id="container Indice">

                      <div id="Box container Indice"></div>

                      <div id="box info">
                        <p id="titre tableau 1" style="margin-left: 70px; font-size: large; font-weight: bold;">Actualisation du Bt</p>
                        <p style="margin-top: 60px;">Bt actualiser : <input type="text" value="" name="date2" id="champ_bt_actualise2" size="12" maxlength="10" readonly></p>
                        <p>Date Bt plus ancien :
                          <input type="text" value="" name="date2" id="champ_date_ancien2" size="10" maxlength="5" readonly>
                          <input type="text" value="" name="date2" id="champ_bt_ancien2" size="5" maxlength="5" readonly>
                        </p>
                        <p>Date Bt plus recent :
                          <input type="text" value="" name="date2" id="champ_date_recent2" size="10 " maxlength="5" readonly>
                          <input type="text" value="" name="date2" id="champ_bt_recent2" size="5" maxlength="5" readonly>
                        </p>
                        <p id="titre tableau 2" style="margin-top: 250px; margin-left: 70px; font-size: large; font-weight: bold;">Projection du Bt</p>
                        <div id="calendarMain2" style="margin-top: 60px;"></div>
                        <p>Date : <input type="text" value="" name="date2" id="champ_date2" size="12" maxlength="10" readonly></p>
                        <p>Estimation : <input type="text" value="" name="date2" id="champ_estimation2" size="12" maxlength="10" readonly></p>
                      </div>

                      <div id="box tableau">
                        <p id="titre tableau 3" style="margin-left: 70px; font-size: large; font-weight: bold;">Liste des Bt Selectionnés</p>
                        <div id="tableau-selection"></div>
                      </div>

                    </div>

                  </div>

                </div>

              </div>

        </div>

        <nav id="navigation d'ajout d'indice">

            <div id="cancel add">

              <img src="/image/close.png" id="cancel" onclick="cancel_slide_indice();"/>

            </div>

            <div id="container input ajout d'indice">

              <div class="input ajout d'indice">

                <span id="title input">Indice</span>

                <input name="TEST" value="" id="indice" class="ajout d'indice"/>

              </div>

              <div class="input ajout d'indice">

                <span id="title input">Date Parution</span>

                <input name="TEST" value="" id="date parution" class="ajout d'indice"/>

              </div>

              <div class="input ajout d'indice">

                <span id="title input">Date BT</span>

                <input name="TEST" value="" id="date bt" class="ajout d'indice"/>

              </div>

             </div>

            <div id="container submit">

              <button type="button" class="button1" id="button ajout indice" onclick="ajout_indice();">Sauvegarder</button>

            </div>

        </nav>

       </div>

       <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" async></script>
       <script src="https://cdn.jsdelivr.net/npm/chart.js" async></script>
       <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom" async></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.0.2/chartjs-plugin-annotation.min.js" async></script> -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
       <script src="https://unpkg.com/jspdf-autotable@3.5.22/dist/jspdf.plugin.autotable.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.min.js" async></script>
       <script type="application/json" src="/index.js" async></script>
       <script src="/js/script_indice_bt.js" async></script>

    </body>

</html>