<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">

        <title>Observatoire</title>

        <link rel="stylesheet" href="/css/indice_bt.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"/>
        <link rel="website icon" type="png" href="/image/logo_simonneau.png">

    </head>

    <body onload="load();">

      <div id="container">

        <nav id="shadow Dashboard">

          <div id="liste text button">

            <div id="container text button">

              <a id="text button" href="/home">Mes Operations</a>

            </div>

            <div id="container text button indice_bt">

              <a id="text button indice_bt" href="/indice_bt">Indice BT</a>

            </div>

            <div id="container text button">

              <a id="text button" href="/entreprise">Entreprise</a>

            </div>

            <div id="container text button">

              <a id="text button" href="/client">Client</a>

            </div>

            <div id="container text button">

              <a id="text button">Mon compte</a>

            </div>

            <div id="container text button">

              <a id="text button" href="/">Se deconnecter</a>

            </div>

          </div>

        </nav>

        <nav id="box Dashboard" onmouseover="slide_right_dashboard();">

          <div id="container image">

            <img id="logo simonneau" src="/image/logo_simonneau.png" alt="simonneau logo"/>
            <img id="logo simonneau avec ecriture" src="/image/logo_simoneau_avec_ecriture.png" alt="simonneau logo" hidden/>

          </div>

          <div id="container liste button">

            <div id="liste button">

              <a id="home page" href="/home">

                <div id="box button">

                  <img id="home button" src="/image/home.png" alt="home page"/>

                </div>

                <div id="home text">Mes Operations</div>

              </a>

              <a id="bt page" href="/indice_bt">

                <div id="box button">

                  <img id="bt button" src="/image/statistique_color.png" alt="indice_bt page">

                </div>

                <div id="bt text">Indice BT</div>

              </a>

              <a id="entreprise page" href="/entreprise">

                <div id="box button">

                  <img id="entreprise button" src="/image/entreprise.png" alt="entreprise page">

                </div>

                <div id="entreprise text">Entreprise</div>

              </a>

              <a id="client page" href="/client">

                <div id="box button">

                  <img id="client button" src="/image/client.png" alt="client page">

                </div>

                <div id="client text">Client</div>

              </a>

              <a id="compte page">

                <div id="box button">

                  <img id="compte button" src="/image/compte.png" alt="compte page">

                </div>

                <div id="compte text">Mon compte</div>

              </a>

              <a id="login page" href="/">

                <div id="box button">

                  <img id="deconnexion button" src="/image/deconnexion.png" alt="login page">

                </div>

                <div id="login text">Se deconnecter</div>

              </a>

            </div>

          </div>

        </nav>

        <div id="main box" onmouseover="slide_left_dashboard();">

            <div id="main_wrap">

                <div id="body">

                  <div id="main_container">

                    <header id="header main box">

                      <div id="box header main box">

                        <div id="Title">Indice BT</div>

                      </div>

                      <div id="box calendar">
                      </div>

                    </header>

                    <div id="container Indice">

                      <div id="Box container Indice"></div>

                      <div id="box info">
                        <p style="margin-top: 100px;">Bt actualiser : <input type="text" value="" name="date2" id="champ_bt_actualise2" size="12" maxlength="10" readonly></p>
                        <p>Date Bt plus ancien :
                          <input type="text" value="" name="date2" id="champ_date_ancien2" size="10" maxlength="5" readonly>
                          <input type="text" value="" name="date2" id="champ_bt_ancien2" size="5" maxlength="5" readonly>
                        </p>
                        <p>Date Bt plus recent :
                          <input type="text" value="" name="date2" id="champ_date_recent2" size="10 " maxlength="5" readonly>
                          <input type="text" value="" name="date2" id="champ_bt_recent2" size="5" maxlength="5" readonly>
                        </p>
                        <div id="calendarMain2" style="margin-top: 300px;"></div>
                        <p>Date : <input type="text" value="" name="date2" id="champ_date2" size="12" maxlength="10" readonly></p>
                        <p>Estimation : <input type="text" value="" name="date2" id="champ_estimation2" size="12" maxlength="10" readonly></p>
                      </div>

                      <div id="tableau-selection"></div>

                    </div>

                  </div>

                </div>

              </div>

        </div>

        <nav id="navigation d'ajout d'indice">

            <div id="cancel add">

              <img src="/image/close.png" id="cancel" onclick="cancel_slide_indice();"/>

            </div>

            <div id="container input ajout d'indice">

              <div class="input ajout d'indice">

                <span id="title input">Indice</span>

                <input name="TEST" value="" id="indice" class="ajout d'indice"/>

              </div>

              <div class="input ajout d'indice">

                <span id="title input">Date Parution</span>

                <input name="TEST" value="" id="date parution" class="ajout d'indice"/>

              </div>

              <div class="input ajout d'indice">

                <span id="title input">Date BT</span>

                <input name="TEST" value="" id="date bt" class="ajout d'indice"/>

              </div>

             </div>

            <div id="container submit">

              <button type="button" class="button1" id="button ajout indice" onclick="ajout_indice();">Sauvegarder</button>

            </div>

        </nav>

       </div>

       <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" async></script>
       <script src="https://cdn.jsdelivr.net/npm/chart.js" async></script>
       <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom" async></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.0.2/chartjs-plugin-annotation.min.js" async></script> -->
       <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.min.js" async></script>
       <script type="application/json" src="/index.js" async></script>
       <script src="/js/script_indice_bt.js" async></script>

    </body>

</html>