<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">

        <title>Observatoire</title>

        <link rel="stylesheet" href="/css/operation.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"/>
        <link rel="website icon" type="png" href="/image/logo_simonneau.png">

    </head>

    <body onload="load_data();" onclick="reset();">

      <div id="container">


        <nav id="shadow Dashboard">

          <div id="liste text button">

            <div id="container text button">

              <a id="text button" href="http://localhost:3000/home">Mes Operations</a>

            </div>

            <div id="container text button">

              <a id="text button">Mon compte</a>

            </div>

            <div id="container text button">

              <a id="text button" href="http://localhost:3000">Se deconnecter</a>

            </div>

          </div>

        </nav>

        <nav id="box Dashboard" onmouseover="slide_right_dashboard();">

          <div id="container image">

            <img id="logo simonneau" src="/image/logo_simonneau.png" alt="simonneau logo"/>
            <img id="logo simonneau avec ecriture" src="/image/logo_simoneau_avec_ecriture.png" alt="simonneau logo" hidden/>

          </div>

          <div id="container liste button">

            <div id="liste button">

              <a id="home page" href="http://localhost:3000/home">

                <div id="box button">

                  <img id="home button" src="/image/maison.png" alt="home page"/>

                </div>

                <div id="home text">Mes Operations</div>

              </a>

              <a id="compte page">

                <div id="box button">

                  <img id="compte button" src="/image/compte.png" alt="compte page">

                </div>

                <div id="compte text">Mon compte</div>

              </a>

              <a id="login page" href="http://localhost:3000">

                <div id="box button">

                  <img id="deconnexion button" src="/image/deconnexion.png" alt="login page">

                </div>

                <div id="login text">Se deconnecter</div>

              </a>

            </div>

          </div>

        </nav>

        <main id="main box" onmouseover="slide_left_dashboard();">

            <header id="header of the main box">

              <div class="svg-wrapper">

                <svg height="60" width="820" xmlns="http://www.w3.org/2000/svg">

                  <rect class="shape" id="shape" height="60" width="820" />

                </svg>

                <input id="text title header of the main box" value="" readonly="readonly" placeholder="Nom de l'operation" onclick="get_focus()"/>

              </div>

                <button id="button of the title" onclick="get_focus()">

                  <img src="/image/ecrivez.png" id="crayon of the title">

                </button>

            </header>

            <div id="container main information">

              <div id="container nav operation">

                <nav id="nav operation">

                  <div id="list element of the operation">

                    <div id="main information of the list of the operation">

                      <img src="/image/triangle_bas.png" class="triangle_bas" id="1"/>

                      <img src="/image/operation.png" id="operation"/>

                      <span id="text element of list">Operation</span>

                    </div>

                    <div id="list of the lot of the operation">

                      <div class="container of the lot" id="first">

                        <img src="/image/triangle_bas.png" class="triangle_bas" id="2"/>

                        <img src="/image/lot.png" id="operation"/>

                        <span id="text element of list">LOT</span>

                      </div>

                      <div class="container of the lot" id="second">

                        <img src="/image/triangle_bas.png" class="triangle_bas" id="3"/>

                        <img src="/image/lot.png" id="operation"/>

                        <span id="text element of list">LOT</span>

                      </div>

                    </div>

                  </div>

                  <div id="extented the nav">

                    <button id="button extented the nav">

                      <img src="/image/left_arrow.png" id="arrow" onclick="slide();"/>

                    </button>

                  </div>

                </nav>

              </div>

              <div id="container form">

                <div id="container button">

                    <div id="box button info generale">

                      <button class="button info" id="button info generale">GENERALE</button>

                    </div>

                    <div id="box button info dimensionnelle">

                      <button class="button info" id="button info dimensionnelle">DIMENSIONNELLE</button>

                    </div>

                </div>

                <div id="container form generale">

                  <div class="container 2 input">

                    <div class="1 input">

                      <span id="title input">Nom du site</span>

                      <input name="TEST" value="" id="Nom du site" class="input generale"/>

                    </div>

                    <div class="2 input">

                      <span id="title input">Categorie du site</span>

                      <input name="TEST" value="" id="Categorie du site" class="input generale"/>

                    </div>

                  </div>

                  <div class="container 2 input">

                    <div class="1 input">

                      <span id="title input">Sous-Categorie du site</span>

                      <input name="TEST" value="" id="Sous-Categorie du site" class="input generale"/>

                    </div>

                    <div class="2 input">

                      <span id="title input">Composition</span>

                      <input name="TEST" value="" id="Composition" class="input generale"/>

                    </div>

                  </div>

                  <div class="container 2 input">

                    <div class="1 input">

                      <span id="title input">Localisation</span>

                      <input name="TEST" value="" id="Localisation" class="input generale"/>

                    </div>

                    <div class="2 input">

                      <span id="title input">Adresse du site</span>

                      <input name="TEST" value="" id="Adresse du site" class="input generale"/>

                    </div>

                  </div>

                  <div class="container 2 input">

                    <div class="1 input">

                      <span id="title input">Longitude</span>

                      <input name="TEST" value="" id="Longitude" class="input generale"/>

                    </div>

                    <div class="2 input">

                      <span id="title input">Latitude</span>

                      <input name="TEST" value="" id="Latitude" class="input generale"/>

                    </div>

                  </div>

                  <div class="container 2 input">

                    <div class="1 input">

                      <span id="title input">Description</span>

                      <input name="TEST" value="" id="Description" class="input generale"/>

                    </div>

                    <div class="2 input">

                      <span id="title input">Date AO</span>

                      <input name="TEST" value="" id="Date AO" class="input generale"/>

                    </div>

                  </div>

                  <div class="container 2 input">

                    <div class="1 input">

                      <span id="title input">Typologie de marche</span>

                      <input name="TEST" value="" id="Typologie de marche" class="input generale"/>

                    </div>

                    <div class="2 input">

                      <span id="title input">Typologie d'operation</span>

                      <input name="TEST" value="" id="Typologie d'operation" class="input generale"/>

                    </div>

                  </div>

                </div>

                <div id="container form dimensionnelle">

                  <div class="container sous categorie" id="sous_categorie 1">

                    <span class="title container sous categorie">COMPOSITION DE LA STRUCTURE</span>

                    <img src="/image/chevron-en-bas.png" class="extend sous categorie"/>

                  </div>

                  <div class="container sous categorie" id="sous_categorie 2">

                    <span class="title container sous categorie">DIMENSION CONSTRUCTION</span>

                    <img src="/image/chevron-en-bas.png" class="extend sous categorie"/>

                  </div>

                  <div class="container sous categorie" id="sous_categorie 3">

                    <span class="title container sous categorie">DIMENSION TERRAIN</span>

                    <img src="/image/chevron-en-bas.png" class="extend sous categorie"/>

                  </div>

                </div>

              </div>

            </div>

        </main>

      </div>

      <script src="/index.js" async></script>
      <script src="/js/script_operation.js" async></script>

    </body>

</html>