<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">

        <title>Observatoire</title>

        <link rel="stylesheet" href="/css/operation.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"/>
        <link rel="website icon" type="png" href="/image/logo_simonneau.png">

    </head>

    <body onload="load_data();" onclick="reset();">

      <div id="container">


        <nav id="shadow Dashboard">

          <div id="liste text button">

            <div id="container text button">

              <a id="text button" href="http://localhost:3000/home">Mes Operations</a>

            </div>

            <div id="container text button">

              <a id="text button">Mon compte</a>

            </div>

            <div id="container text button">

              <a id="text button" href="http://localhost:3000">Se deconnecter</a>

            </div>

          </div>

        </nav>

        <nav id="box Dashboard" onmouseover="slide_right_dashboard();">

          <div id="container image">

            <img id="logo simonneau" src="/image/logo_simonneau.png" alt="simonneau logo"/>
            <img id="logo simonneau avec ecriture" src="/image/logo_simoneau_avec_ecriture.png" alt="simonneau logo" hidden/>

          </div>

          <div id="container liste button">

            <div id="liste button">

              <a id="home page" href="http://localhost:3000/home">

                <div id="box button">

                  <img id="home button" src="/image/maison.png" alt="home page"/>

                </div>

                <div id="home text">Mes Operations</div>

              </a>

              <a id="compte page">

                <div id="box button">

                  <img id="compte button" src="/image/compte.png" alt="compte page">

                </div>

                <div id="compte text">Mon compte</div>

              </a>

              <a id="login page" href="http://localhost:3000">

                <div id="box button">

                  <img id="deconnexion button" src="/image/deconnexion.png" alt="login page">

                </div>

                <div id="login text">Se deconnecter</div>

              </a>

            </div>

          </div>

        </nav>

        <main id="main box" onmouseover="slide_left_dashboard();">

            <header id="header of the main box">

              <div class="svg-wrapper">

                <svg height="60" width="820" xmlns="http://www.w3.org/2000/svg">

                  <rect class="shape" id="shape_nom" height="60" width="820" />

                </svg>

                <input id="text nom title header of the main box" name="nom_operation" value="" placeholder="Nom de l'operation" onclick="get_focus()"/>

              </div>

              <div class="svg-wrapper">

                <svg height="60" width="820" xmlns="http://www.w3.org/2000/svg">

                  <rect class="shape" id="shape_maitre" height="60" width="820" />

                </svg>

                <input id="text maitre title header of the main box" name="maitre_ouvrage" value="" placeholder="Nom du maitre d'ouvrage" onclick="get_focus_bis()"/>

              </div>

              <button id="button of the title" onclick="get_focus()">

                  <img src="/image/ecrivez.png" id="crayon of the title">

              </button>

            </header>

            <div id="container main information">

              <div id="container nav operation">

                <nav id="nav operation">

                  <div id="list element of the operation">

                    <div id="main information of the list of the operation">

                      <img src="/image/triangle_bas.png" class="triangle_bas" id="1"/>

                      <img src="/image/operation.png" id="operation"/>

                      <span id="text element of list">Operation</span>

                    </div>

                    <div id="list of the lot of the operation">

                      <div class="container of the lot" id="first">

                        <img src="/image/lot.png" id="operation"/>

                        <span id="text element of list">Lot</span>

                      </div>

                      <div class="container of the lot" id="second">

                        <img src="/image/lot.png" id="operation"/>

                        <span id="text element of list">Lot</span>

                      </div>

                      <div id="container add lot" onclick="add_lot_to_operation()">

                        <img src="/image/add.png" id="add lot"/>

                        <div id="text add lot">ajouter un lot</div>

                      </div>

                    </div>

                  </div>

                  <div id="extented the nav">

                    <button id="button extented the nav">

                      <img src="/image/left_arrow.png" id="arrow" onclick="slide();"/>

                    </button>

                  </div>

                </nav>

              </div>

              <div id="container form operation">

                <div id="container button">

                    <div id="box button info generale">

                      <button class="button info" id="button info generale">GENERALE</button>

                    </div>

                    <div id="box button info dimensionnelle">

                      <button class="button info" id="button info dimensionnelle">DIMENSIONNELLE</button>

                    </div>

                </div>

                <div id="container form generale">

                  <div class="container 2 input">

                    <div class="1 input">

                      <span id="title input">Nom du site</span>

                      <input name="TEST" value="" id="Nom du site" class="input generale"/>

                    </div>

                    <div class="2 input">

                      <span id="title input">Categorie du site</span>

                      <input name="TEST" value="" id="Categorie du site" class="input generale"/>

                    </div>

                  </div>

                  <div class="container 2 input">

                    <div class="1 input">

                      <span id="title input">Sous-Categorie du site</span>

                      <input name="TEST" value="" id="Sous-Categorie du site" class="input generale"/>

                    </div>

                    <div class="2 input">

                      <span id="title input">Composition</span>

                      <input name="TEST" value="" id="Composition" class="input generale"/>

                    </div>

                  </div>

                  <div class="container 2 input">

                    <div class="1 input">

                      <span id="title input">Localisation</span>

                      <input name="TEST" value="" id="Localisation" class="input generale"/>

                    </div>

                    <div class="2 input">

                      <span id="title input">Adresse du site</span>

                      <input name="TEST" value="" id="Adresse du site" class="input generale"/>

                    </div>

                  </div>

                  <div class="container 2 input">

                    <div class="1 input">

                      <span id="title input">Longitude</span>

                      <input name="TEST" value="" id="Longitude" class="input generale"/>

                    </div>

                    <div class="2 input">

                      <span id="title input">Latitude</span>

                      <input name="TEST" value="" id="Latitude" class="input generale"/>

                    </div>

                  </div>

                  <div class="container 2 input">

                    <div class="1 input">

                      <span id="title input">Description</span>

                      <input name="TEST" value="" id="Description" class="input generale"/>

                    </div>

                    <div class="2 input">

                      <span id="title input">Date AO</span>

                      <input name="TEST" value="" id="Date AO" class="input generale"/>

                    </div>

                  </div>

                  <div class="container 2 input">

                    <div class="1 input">

                      <span id="title input">Typologie de marche</span>

                      <input name="TEST" value="" id="Typologie de marche" class="input generale"/>

                    </div>

                    <div class="2 input">

                      <span id="title input">Typologie d'operation</span>

                      <input name="TEST" value="" id="Typologie d'operation" class="input generale"/>

                    </div>

                  </div>

                </div>

                <div id="container form dimensionnelle">

                  <div class="container sous categorie" id="sous_categorie 1">

                    <div class="header container sous catgeorie">

                      <span class="title container sous categorie">COMPOSITION DE LA STRUCTURE</span>

                      <img src="/image/chevron-en-bas.png" class="extend sous categorie" onclick="deroule_form_1();"/>

                    </div>

                    <div id="container form 1">

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Nombre d'eleve</span>

                          <input name="TEST" value="" id="Nom du site" class="input generale"/>

                        </div>

                        <div class="2 input">

                          <span id="title input">Nombre de classe (salle d'enseignement)</span>

                          <input name="TEST" value="" id="Categorie du site" class="input generale"/>

                        </div>

                      </div>

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Nombre de salle (poly, spectacle, sport)</span>

                          <input name="TEST" value="" id="Nom du site" class="input generale"/>

                        </div>

                        <div class="2 input">

                          <span id="title input">Nombre de logement</span>

                          <input name="TEST" value="" id="Categorie du site" class="input generale"/>

                        </div>

                      </div>

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Nombre de bureaux / autres locaux</span>

                          <input name="TEST" value="" id="Nom du site" class="input generale"/>

                        </div>

                        <div class="2 input">

                          <span id="title input">Nombre de chambre</span>

                          <input name="TEST" value="" id="Categorie du site" class="input generale"/>

                        </div>

                      </div>

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Nombre de commerce</span>

                          <input name="TEST" value="" id="Nom du site" class="input generale"/>

                        </div>

                        <div class="2 input">

                          <span id="title input">Nombre place de parking Infrastructure</span>

                          <input name="TEST" value="" id="Categorie du site" class="input generale"/>

                        </div>

                      </div>

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Nombre de places de parking interieur dans la superstructure</span>

                          <input name="TEST" value="" id="Nom du site" class="input generale"/>

                        </div>

                        <div class="2 input">

                          <span id="title input">Nombre place de parking Infrastructure</span>

                          <input name="TEST" value="" id="Categorie du site" class="input generale"/>

                        </div>

                      </div>

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Nombre de places de parking exterieur</span>

                          <input name="TEST" value="" id="Nom du site" class="input generale"/>

                        </div>

                      </div>

                    </div>

                  </div>

                  <div class="container sous categorie" id="sous_categorie 2">

                    <div class="header container sous catgeorie">

                      <span class="title container sous categorie">DIMENSION CONSTRUCTION</span>

                      <img src="/image/chevron-en-bas.png" class="extend sous categorie" onclick="deroule_form_2();"/>

                    </div>

                    <div id="container form 2">

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Surface de locaux technique</span>

                          <input name="TEST" value="" id="Nom du site" class="input generale"/>

                        </div>

                        <div class="2 input">

                          <span id="title input">Surface des garages et locaux annexes</span>

                          <input name="TEST" value="" id="Categorie du site" class="input generale"/>

                        </div>

                      </div>

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">SHAB</span>

                          <input name="TEST" value="" id="Nom du site" class="input generale"/>

                        </div>

                        <div class="2 input">

                          <span id="title input">SDO</span>

                          <input name="TEST" value="" id="Categorie du site" class="input generale"/>

                        </div>

                      </div>

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">SDP</span>

                          <input name="TEST" value="" id="Nom du site" class="input generale"/>

                        </div>

                        <div class="2 input">

                          <span id="title input">Nombre de niveaux superstructure</span>

                          <input name="TEST" value="" id="Categorie du site" class="input generale"/>

                        </div>

                      </div>

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Nombre de niveaux Infrastructure</span>

                          <input name="TEST" value="" id="Nom du site" class="input generale"/>

                        </div>

                      </div>

                    </div>

                  </div>

                  <div class="container sous categorie" id="sous_categorie 3">

                    <div class="header container sous catgeorie">

                      <span class="title container sous categorie">DIMENSION TERRAIN</span>

                      <img src="/image/chevron-en-bas.png" class="extend sous categorie" onclick="deroule_form_3();"/>

                    </div>

                    <div id="container form 3">

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Emprise de la parcelle</span>

                          <input name="TEST" value="" id="Nom du site" class="input generale"/>

                        </div>

                        <div class="2 input">

                          <span id="title input">Surface d'espace verts</span>

                          <input name="TEST" value="" id="Categorie du site" class="input generale"/>

                        </div>

                      </div>

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Surface minerale</span>

                          <input name="TEST" value="" id="Nom du site" class="input generale"/>

                        </div>

                      </div>

                    </div>

                  </div>

                  <div class="container sous categorie" id="sous_categorie 4">

                    <div class="header container sous catgeorie">

                      <span class="title container sous categorie">DIMENSION CONSTRUCTION</span>

                      <img src="/image/chevron-en-bas.png" class="extend sous categorie" onclick="deroule_form_4();"/>

                    </div>

                    <div id="container form 4">

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Emprise au sol</span>

                          <input name="TEST" value="" id="Nom du site" class="input generale"/>

                        </div>

                        <div class="2 input">

                          <span id="title input">Surface de toiture (isolee thermiquement)</span>

                          <input name="TEST" value="" id="Categorie du site" class="input generale"/>

                        </div>

                      </div>

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Emprise de facade totale</span>

                          <input name="TEST" value="" id="Nom du site" class="input generale"/>

                        </div>

                      </div>

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Dont surface de facade pleine</span>

                          <input name="TEST" value="" id="Nom du site" class="input generale"/>

                        </div>

                        <div class="2 input">

                          <span id="title input">Dont surface de vitrage</span>

                          <input name="TEST" value="" id="Categorie du site" class="input generale"/>

                        </div>

                      </div>

                    </div>

                  </div>

                </div>

                <div id="container submit">

                  <button type="button" class="button1">Sauvegarder</button>

                </div>

              </div>

              <div class="container form lot" id="lot first">

                <div class="container info generale lot">

                  <div class="container 2 input dimension">

                    <div class="1 input lot">

                      <span id="title input">Nom du lot</span>

                      <input name="TEST" value="" id="Nom du site" class="input generale"/>

                    </div>

                    <div class="2 input lot">

                      <span id="title input">Numero du lot</span>

                      <input name="TEST" value="" id="Categorie du site" class="input generale"/>

                    </div>

                    <div class="2 input lot">

                      <span id="title input">Entreprise</span>

                      <input name="TEST" value="" id="Categorie du site" class="input generale"/>

                    </div>

                    <div class="2 input lot">

                      <span id="title input">Date</span>

                      <input name="TEST" value="" id="Categorie du site" class="input generale"/>

                    </div>

                  </div>

                </div>

                <span class="title liste d'article">Liste des Articles</span>

                <div class="container champ">

                  <div class="champ" id="Prestation champ">

                    <div id="text">Prestation</div>

                  </div>

                  <div class="champ" id="Article champ">

                    <div id="text">Article</div>

                  </div>

                  <div class="champ" id="Unite champ">

                    <div id="text">Unite</div>

                  </div>

                  <div class="champ" id="Quantite champ">

                    <div id="text">Quantite</div>

                  </div>

                  <div class="champ" id="Prix Unitaire champ">

                    <div id="text">Prix Unitaire</div>

                  </div>

                  <div class="champ" id="Prix totale champ">

                    <div id="text">Prix Totale</div>

                  </div>

                  <div class="champ" id="TVA champ">

                    <div id="text">TVA</div>

                  </div>

                </div>

                <div class="container article">

                  <div class="box article">

                    <div class="champ article" id="Prestation article">

                      <div id="text">Peintre</div>

                    </div>

                    <div class="champ article" id="Article article">

                      <div id="text">Peinture plafond</div>

                    </div>

                    <div class="champ article" id="Unite article">

                      <div id="text">m2</div>

                    </div>

                    <div class="champ article" id="Quantite article">

                      <div id="text">10</div>

                    </div>

                    <div class="champ article" id="Prix Unitaire article">

                      <div id="text">12.00</div>

                    </div>

                    <div class="champ article" id="Prix totale article">

                      <div id="text">120.00</div>

                     </div>

                    <div class="champ article" id="TVA article">

                      <div id="text">20%</div>

                    </div>

                  </div>

                  <div class="box article">

                    <div class="champ article" id="Prestation article">

                      <div id="text">Peintre</div>

                    </div>

                    <div class="champ article" id="Article article">

                      <div id="text">Peinture plafond</div>

                    </div>

                    <div class="champ article" id="Unite article">

                      <div id="text">m2</div>

                    </div>

                    <div class="champ article" id="Quantite article">

                      <div id="text">10</div>

                    </div>

                    <div class="champ article" id="Prix Unitaire article">

                      <div id="text">12.00</div>

                    </div>

                    <div class="champ article" id="Prix totale article">

                      <div id="text">120.00</div>

                     </div>

                    <div class="champ article" id="TVA article">

                      <div id="text">20%</div>

                    </div>

                  </div>

                  <div class="box article">

                    <div class="champ article" id="Prestation article">

                      <div id="text">Peintre</div>

                    </div>

                    <div class="champ article" id="Article article">

                      <div id="text">Peinture plafond</div>

                    </div>

                    <div class="champ article" id="Unite article">

                      <div id="text">m2</div>

                    </div>

                    <div class="champ article" id="Quantite article">

                      <div id="text">10</div>

                    </div>

                    <div class="champ article" id="Prix Unitaire article">

                      <div id="text">12.00</div>

                    </div>

                    <div class="champ article" id="Prix totale article">

                      <div id="text">120.00</div>

                     </div>

                    <div class="champ article" id="TVA article">

                      <div id="text">20%</div>

                    </div>

                  </div>

                </div>

              </div>

              <div class="container form lot" id="lot second">

                <div class="container info generale lot">

                  <div class="container 2 input dimension">

                    <div class="1 input lot">

                      <span id="title input">Nom du lot</span>

                      <input name="TEST" value="" id="Nom du site" class="input generale"/>

                    </div>

                    <div class="2 input lot">

                      <span id="title input">Numero du lot</span>

                      <input name="TEST" value="" id="Categorie du site" class="input generale"/>

                    </div>

                    <div class="2 input lot">

                      <span id="title input">Entreprise</span>

                      <input name="TEST" value="" id="Categorie du site" class="input generale"/>

                    </div>

                    <div class="2 input lot">

                      <span id="title input">Date</span>

                      <input name="TEST" value="" id="Categorie du site" class="input generale"/>

                    </div>

                  </div>

                </div>

                <span class="title liste d'article">Liste des Articles</span>

                <div class="container champ">

                  <div class="champ" id="Prestation champ">

                    <div id="text">Prestation</div>

                  </div>

                  <div class="champ" id="Article champ">

                    <div id="text">Article</div>

                  </div>

                  <div class="champ" id="Unite champ">

                    <div id="text">Unite</div>

                  </div>

                  <div class="champ" id="Quantite champ">

                    <div id="text">Quantite</div>

                  </div>

                  <div class="champ" id="Prix Unitaire champ">

                    <div id="text">Prix Unitaire</div>

                  </div>

                  <div class="champ" id="Prix totale champ">

                    <div id="text">Prix Totale</div>

                  </div>

                  <div class="champ" id="TVA champ">

                    <div id="text">TVA</div>

                  </div>

                </div>

              </div>

            </div>

        </main>

      </div>

      <script src="/index.js" async></script>
      <script src="/js/script_operation.js" async></script>

    </body>

</html>