<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">

        <title>Observatoire</title>

        <link rel="stylesheet" href="/css/operation.css">
        <link rel="stylesheet" href="/css/operation_button.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"/>
        <link rel="website icon" type="png" href="/image/logo_simonneau.png">

    </head>

    <body onload="load_data();" onclick="reset();">

      <div id="container">


        <nav id="shadow Dashboard">

          <div id="liste text button">

            <div id="container text button">

              <a id="text button" href="/home">Mes Operations</a>

            </div>

            <div id="container text button">

              <a id="text button" href="/indice_bt">Indice BT</a>

            </div>

            <div id="container text button">

              <a id="text button">Mon compte</a>

            </div>

            <div id="container text button">

              <a id="text button" href="/">Se deconnecter</a>

            </div>

          </div>

        </nav>

        <nav id="box Dashboard" onmouseover="slide_right_dashboard();">

          <div id="container image">

            <img id="logo simonneau" src="/image/logo_simonneau.png" alt="simonneau logo"/>
            <img id="logo simonneau avec ecriture" src="/image/logo_simoneau_avec_ecriture.png" alt="simonneau logo" hidden/>

          </div>

          <div id="container liste button">

            <div id="liste button">

              <a id="home page" href="/home">

                <div id="box button">

                  <img id="home button" src="/image/maison.png" alt="home page"/>

                </div>

                <div id="home text">Mes Operations</div>

              </a>

              <a id="bt page" href="/indice_bt">

                <div id="box button">

                  <img id="bt button" src="/image/statistique.png" alt="bt page"/>

                </div>

                <div id="bt text">Indice BT</div>

              </a>

              <a id="compte page">

                <div id="box button">

                  <img id="compte button" src="/image/compte.png" alt="compte page">

                </div>

                <div id="compte text">Mon compte</div>

              </a>

              <a id="login page" href="/">

                <div id="box button">

                  <img id="deconnexion button" src="/image/deconnexion.png" alt="login page">

                </div>

                <div id="login text">Se deconnecter</div>

              </a>

            </div>

          </div>

        </nav>

        <div id="main box" onmouseover="slide_left_dashboard();">

            <header id="header of the main box">

              <div class="svg-wrapper">

                <svg height="60" width="820" xmlns="http://www.w3.org/2000/svg">

                  <rect class="shape" id="shape_nom" height="60" width="820" />

                </svg>

                <input id="text nom title header of the main box" name="nom_operation" value="" placeholder="Nom de l'operation" onclick="get_focus()"/>

              </div>

              <div class="container maitre">

                <select id="maitre ouvrage select" name="maitre_ouvrage" class="input maitre">

                  <option id="nothing"></option>

                </select>

              </div>

            </header>

            <div id="container main information">

              <div id="container nav operation">

                <nav id="nav operation">

                  <div id="list element of the operation">

                    <div id="main information of the list of the operation">

                      <img src="/image/triangle_bas.png" class="triangle_bas" id="1 chevron"/>

                      <img src="/image/operation.png" id="operation"/>

                      <span id="text element of list">Operation</span>

                    </div>

                    <div id="list of the lot of the operation">

                      <div id="container add lot" onclick="add_lot_to_operation(['Nouveau Lot', 'flex', 'any', '', '', '', 'not'])">

                        <img src="/image/add.png" id="add lot"/>

                        <div id="text add lot">ajouter un lot</div>

                      </div>

                    </div>

                  </div>

                  <div id="extented the nav">

                    <button id="button extented the nav">

                      <img src="/image/left_arrow.png" id="arrow" onclick="slide();"/>

                    </button>

                  </div>

                </nav>

              </div>

              <div id="container form operation">

                <div id="container button">

                    <div id="box button info generale">

                      <button class="button info" id="button info generale">GENERALE</button>

                    </div>

                    <div id="box button info dimensionnelle">

                      <button class="button info" id="button info dimensionnelle">DIMENSIONNELLE</button>

                    </div>

                    <div id="box validation de l'operation">

                      <input type="checkbox" id="switch operation"/>

                      <label for="switch operation" id="not" onclick="select_operation(event);"></label>

                    </div>

                </div>

                <div id="container form generale">

                  <div class="container 2 input">

                    <div class="1 input">

                      <span id="title input">Nom du site</span>

                      <input name="Nom_site" value="" id="Nom du site" class="input generale"/>

                    </div>

                    <div class="2 input">

                      <span id="title input">Categorie du site</span>

                      <select name="Categorie" value="" id="Categorie du site" class="input generale" onclick="select_categorie(0);">

                        <option id="nothing"></option>

                        <option id="Enseignement">Enseignement</option>

                        <option id="Logement et Hebergement">Logement et Hebergement</option>

                        <option id="Bureaux et Administration">Bureaux et Administration</option>

                        <option id="Divers">Divers</option>

                      </select>

                    </div>

                  </div>

                  <div class="container 2 input">

                    <div class="1 input">

                      <span id="title input">Sous-Categorie du site</span>

                      <select name="Sous_Categorie" value="" id="Sous-Categorie Enseignement" class="input generale_bis">

                        <option id="nothing"></option>

                        <option id="Ecole / Groupe Scolaire">Ecole / Groupe Scolaire</option>

                        <option id="College">College</option>

                        <option id="Lycee">Lycee</option>

                        <option id="Enseignement superieur">Enseignement superieur</option>

                        <option id="Etablissement de recherche">Etablissement de recherche</option>

                      </select>

                      <select name="Sous_Categorie" value="" id="Sous-Categorie Logement et Hebergement" class="input generale_bis">

                        <option id="nothing"></option>

                        <option id="Logements collectifs">Logements collectifs</option>

                        <option id="Logements individuels">Logements individuels</option>

                        <option id="Hotellerie">Hotellerie</option>

                        <option id="Residence senior">Residence senior</option>

                        <option id="Residence etudiante">Residence etudiante</option>

                      </select>

                      <select name="Sous_Categorie" value="" id="Sous-Categorie Bureaux et Administration" class="input generale_bis">

                        <option id="nothing"></option>

                        <option id="Batiment administratif">Batiment administratif</option>

                        <option id="Bureaux">Bureaux</option>

                        <option id="Bureaux + Locaux commerciaux">Bureaux + Locaux commerciaux</option>

                        <option id="Locaux commerciaux">Locaux commerciaux</option>

                      </select>

                      <select name="Sous_Categorie" value="" id="Sous-Categorie Divers" class="input generale_bis">

                        <option id="nothing"></option>

                        <option id="Etablissement de sante">Etablissement de sante</option>

                        <option id="Etablissement socio-culturel">Etablissement socio-culturel</option>

                        <option id="Industrie (Entrepot, Garage et parking)">Industrie (Entrepot, Garage et parking)</option>

                        <option id="Equipement sportif">Equipement sportif</option>

                      </select>

                    </div>

                    <div class="2 input">

                      <span id="title input">Composition</span>

                      <select name="Composition" value="" id="Composition" class="input generale">

                        <option id="nothing"></option>

                        <option id="Batiment unique a 1 seul niveau">Batiment unique a 1 seul niveau</option>

                        <option id="Batiment unique a plusieurs niveaux">Batiment unique a plusieurs niveaux</option>

                        <option id="Batiment multiple a 1 seul niveau">Batiment multiple a 1 seul niveau</option>

                        <option id="Batiment multiple a plusieurs niveaux">Batiment multiple a plusieurs niveaux</option>

                      </select>

                    </div>

                  </div>

                  <div class="container 2 input">

                    <div class="1 input">

                      <span id="title input">Localisation</span>

                      <input name="Localisation" value="" id="Localisation" class="input generale"/>

                    </div>

                    <div class="2 input">

                      <span id="title input">Adresse du site</span>

                      <input name="Adresse_du_site" value="" id="Adresse du site" class="input generale"/>

                    </div>

                  </div>

                  <div class="container 2 input">

                    <div class="1 input">

                      <span id="title input">Longitude</span>

                      <input name="Longitude" value="" id="Longitude" class="input generale" onkeypress="return verif(event, '.0123456789 ');"/>

                    </div>

                    <div class="2 input">

                      <span id="title input">Latitude</span>

                      <input name="Latitude" value="" id="Latitude" class="input generale" onkeypress="return verif(event, '.0123456789 ');"/>

                    </div>

                  </div>

                  <div class="container 2 input">

                    <div class="1 input">

                      <span id="title input">Description</span>

                      <input name="Description" value="" id="Description" class="input generale"/>

                    </div>

                    <div class="2 input">

                      <span id="title input">Date AO</span>

                      <input name="Date_AO" value="" id="Date AO" class="input generale" onkeypress="return verif(event, '0123456789/');"/>

                    </div>

                  </div>

                  <div class="container 2 input">

                    <div class="1 input">

                      <span id="title input">Typologie de marche</span>

                      <select name="Typologie_marche" value="" id="Typologie de marche" class="input generale">

                        <option id="nothing"></option>

                        <option id="Neuf">Neuf</option>

                        <option id="Restructuration">Restructuration</option>

                        <option id="Rehabilitation">Rehabilitation</option>

                        <option id="Renovation">Renovation</option>

                        <option id="Renovation energetique">Renovation energetique</option>

                        <option id="Gros entretien / Maintenance">Gros entretien / Maintenance</option>

                      </select>

                    </div>

                    <div class="2 input">

                      <span id="title input">Typologie d'operation</span>

                      <select name="Typologie_operation" value="" id="Typologie d'operation" class="input generale">

                        <option id="nothing"></option>

                        <option id="Lots separes">Lots separes</option>

                        <option id="MGP">MGP</option>

                        <option id="PPP">PPP</option>

                        <option id="Entreprise generale">Entreprise generale</option>

                        <option id="Macro lots">Macro lots</option>

                        <option id="BPU">BPU</option>

                      </select>

                    </div>

                  </div>

                </div>

                <div id="container form dimensionnelle">

                  <div class="container sous categorie" id="sous_categorie 1">

                    <div class="header container sous catgeorie">

                      <span class="title container sous categorie">COMPOSITION DE LA STRUCTURE</span>

                      <img src="/image/chevron-en-bas.png" class="extend sous categorie" onclick="deroule_form_1();"/>

                    </div>

                    <div id="container form 1">

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Nombre d'eleve</span>

                          <input name="Nombre_d'eleve" value="" id="Nombre d'eleve" class="input generale" onkeypress="return verif(event, '.0123456789 ');"/>

                        </div>

                        <div class="2 input">

                          <span id="title input">Nombre de classe (salle d'enseignement)</span>

                          <input name="Nombre_de_classe_(salle_d'enseignement)" value="" id="Nombre de classe" class="input generale" onkeypress="return verif(event, '.0123456789 ');"/>

                        </div>

                      </div>

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Nombre de salle (poly, spectacle, sport)</span>

                          <input name="Nombre_de_salle_(poly_spectacle_sport)" value="" id="Nombre de salle" class="input generale" onkeypress="return verif(event, '.0123456789 ');"/>

                        </div>

                        <div class="2 input">

                          <span id="title input">Nombre de logement</span>

                          <input name="Nombre_de_logement" value="" id="Nombre de logement" class="input generale" onkeypress="return verif(event, '.0123456789 ');"/>

                        </div>

                      </div>

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Nombre de bureaux / autres locaux</span>

                          <input name="Nombre_de_bureaux_/_autres_locaux" value="" id="Nombre de bureaux / autres locaux" class="input generale" onkeypress="return verif(event, '.0123456789 ');"/>

                        </div>

                        <div class="2 input">

                          <span id="title input">Nombre de chambre</span>

                          <input name="Nombre_de_chambre" value="" id="Nombre de chambre" class="input generale" onkeypress="return verif(event, '.0123456789 ');"/>

                        </div>

                      </div>

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Nombre de commerce</span>

                          <input name="Nombre_de_commerce" value="" id="Nombre de commerce" class="input generale" onkeypress="return verif(event, '.0123456789 ');"/>

                        </div>

                        <div class="2 input">

                          <span id="title input">Nombre place de parking Infrastructure</span>

                          <input name="Nombre_place_de_parking_Infrastructure" value="" id="Nombre place de parking Infrastructure" class="input generale" onkeypress="return verif(event, '.0123456789 ');"/>

                        </div>

                      </div>

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Nombre de places de parking interieur dans la superstructure</span>

                          <input name="Nombre_de_places_de_parking_interieur_dans_la_superstructure" value="" id="Nombre de places de parking interieur dans la superstructure" class="input generale" onkeypress="return verif(event, '.0123456789 ');"/>

                        </div>

                        <div class="2 input">

                          <span id="title input">Nombre de places de parking exterieur</span>

                          <input name="Nombre_de_places_de_parking_exterieur" value="" id="Nombre de places de parking exterieur" class="input generale" onkeypress="return verif(event, '.0123456789 ');"/>

                        </div>

                      </div>

                    </div>

                  </div>

                  <div class="container sous categorie" id="sous_categorie 2">

                    <div class="header container sous catgeorie">

                      <span class="title container sous categorie">DIMENSION CONSTRUCTION</span>

                      <img src="/image/chevron-en-bas.png" class="extend sous categorie" onclick="deroule_form_2();"/>

                    </div>

                    <div id="container form 2">

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Surface de locaux technique</span>

                          <input name="Surface_de_locaux_technique" value="" id="Surface de locaux technique" class="input generale"/>

                        </div>

                        <div class="2 input">

                          <span id="title input">Surface des garages et locaux annexes</span>

                          <input name="Surface_des_garages_et_locaux_annexes" value="" id="Surface des garages et locaux annexes" class="input generale"/>

                        </div>

                      </div>

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">SHAB</span>

                          <input name="SHAB" value="" id="SHAB" class="input generale"/>

                        </div>

                        <div class="2 input">

                          <span id="title input">SU</span>

                          <input name="SU" value="" id="SU" class="input generale"/>

                        </div>

                      </div>

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">SDO</span>

                          <input name="SDO" value="" id="SDO" class="input generale"/>

                        </div>

                        <div class="2 input">

                          <span id="title input">SDP</span>

                          <input name="SDP" value="" id="SDP" class="input generale"/>

                        </div>

                      </div>

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Nombre de niveaux Infrastructure</span>

                          <input name="Nombre_de_niveaux_Infrastructure" value="" id="Nombre de niveaux Infrastructure" class="input generale"/>

                        </div>

                        <div class="2 input">

                          <span id="title input">Nombre de niveaux superstructure</span>

                          <input name="Nombre_de_niveaux_superstructure" value="" id="Nombre de niveaux superstructure" class="input generale"/>

                        </div>

                      </div>

                    </div>

                  </div>

                  <div class="container sous categorie" id="sous_categorie 3">

                    <div class="header container sous catgeorie">

                      <span class="title container sous categorie">DIMENSION TERRAIN</span>

                      <img src="/image/chevron-en-bas.png" class="extend sous categorie" onclick="deroule_form_3();"/>

                    </div>

                    <div id="container form 3">

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Emprise de la parcelle</span>

                          <input name="Emprise_de_la_parcelle" value="" id="Emprise de la parcelle" class="input generale"/>

                        </div>

                        <div class="2 input">

                          <span id="title input">Surface d'espace verts</span>

                          <input name="Surface_d'espace_verts" value="" id="Surface d'espace verts" class="input generale"/>

                        </div>

                      </div>

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Surface minerale</span>

                          <input name="Surface_minerale" value="" id="Surface minerale" class="input generale"/>

                        </div>

                      </div>

                    </div>

                  </div>

                  <div class="container sous categorie" id="sous_categorie 4">

                    <div class="header container sous catgeorie">

                      <span class="title container sous categorie">DIMENSION CONSTRUCTION</span>

                      <img src="/image/chevron-en-bas.png" class="extend sous categorie" onclick="deroule_form_4();"/>

                    </div>

                    <div id="container form 4">

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Emprise au sol</span>

                          <input name="Emprise_au_sol" value="" id="Emprise au sol" class="input generale"/>

                        </div>

                        <div class="2 input">

                          <span id="title input">Surface de toiture (isolee thermiquement)</span>

                          <input name="Surface_de_toiture_(isolee_thermiquement)" value="" id="Surface de toiture (isolee thermiquement)" class="input generale"/>

                        </div>

                      </div>

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Emprise de facade totale</span>

                          <input name="Emprise_de_facade_totale" value="" id="Emprise de facade totale" class="input generale"/>

                        </div>

                      </div>

                      <div class="container 2 input dimension">

                        <div class="1 input">

                          <span id="title input">Dont surface de facade pleine</span>

                          <input name="Dont_surface_de_facade_pleine" value="" id="Dont surface de facade pleine" class="input generale"/>

                        </div>

                        <div class="2 input">

                          <span id="title input">Dont surface de vitrage</span>

                          <input name="Dont_surface_de_vitrage" value="" id="Dont surface de vitrage" class="input generale"/>

                        </div>

                      </div>

                    </div>

                  </div>

                </div>

                <div id="container submit">

                  <div id="text montant totale lot">Montant Total de l'Operation (HT) :</div>

                  <div id="box montant totale lot"></div>

                  <button type="button" class="button1" id="button save op">Sauvegarder</button>

                </div>

              </div>

            </div>

        </div>

        <nav id="navigation d'ajout d'article">

          <div id="cancel add">

            <img src="/image/close.png" id="cancel" onclick="cancel_slide_modif_article();"/>

          </div>

          <div id="container input ajout d'article">

            <div class="input ajout d'article">

              <span id="title input">Nom de l'article</span>

              <input name="nom_article" value="" id="" class="ajout d'article" readonly/>

            </div>

            <div class="input ajout d'article">

              <span id="title input">Unite de l'article</span>

              <input name="unite article" value="" id="Categorie du site" class="ajout d'article" readonly/>

            </div>

            <div class="input ajout d'article">

              <span id="title input">Quantite de l'article</span>

              <input name="quantite article" value="" id="quantite modif article" class="ajout d'article" onkeyup="maj_totale_article()" onkeypress="return verif(event, '.0123456789 ');"/>

            </div>

            <div class="input ajout d'article">

              <span id="title input">Prix unitaire de l'article</span>

              <input name="prix unitaire article" value="" id="prix unitaire modif article" class="ajout d'article" onkeyup="maj_totale_article()" onkeypress="return verif(event, '.0123456789 ');"/>

            </div>

            <div class="input ajout d'article">

              <span id="title input">Prix totale de l'article</span>

              <input name="prix totale article" value="" id="prix totale modif article" class="ajout d'article" readonly/>

            </div>

            <div class="input ajout d'article" style="display: none">

              <span id="title input"></span>

              <input name="prix totale article" value="" id="ID article" class="ajout d'article" readonly/>

            </div>

            <div class="input ajout d'article">

              <span id="title input">TVA</span>

              <input name="prix totale article" value="" id="Categorie du site" class="ajout d'article" onkeypress="return verif(event, '.0123456789 %');"/>

            </div>

          </div>

          <div id="container submit modif d'article">

            <button type="button" class="button1" id="button modif article" onclick="delete_article();">Supprimer</button>

            <button type="button" class="button1" id="button modif article" onclick="add_modif_article();">Sauvegarder</button>

          </div>

        </nav>

        <nav id="navigation d'ajout d'entreprise">

          <div id="cancel add">

            <img src="/image/close.png" id="cancel" onclick="cancel_slide_entreprise();"/>

          </div>

          <div id="container input ajout d'entreprise">

            <div class="input ajout d'entreprise">

              <span id="title input">Nom de l'entreprise</span>

              <input name="TEST" value="" id="Nom entreprise" class="ajout d'entreprise"/>

            </div>

          </div>

          <div id="container submit">

            <button type="button" class="button1" id="button entreprise" onclick="add_entreprise();">Sauvegarder</button>

          </div>

        </nav>

        <div id="recherche d'article">

          <div id="main info recherche article">

            <div id="filtrage article">

              <div id="title filtrage article">Aborescence</div>

              <div id="aborescence article"></div>

            </div>

            <div id="resultat article">

              <div class="input-wrapper">

                <input placeholder="Search..." id="search bar article" onkeyup="filtre_element_article();"/>

                <span class="input-highlight"></span>

              </div>

              <div id="liste article">

                <div id="title liste article">

                  <div class="selection liste article" on>Selection</div>

                  <div class="nom liste article">Nom</div>

                  <div class="unite liste article">Unite</div>

                </div>

              </div>

            </div>

          </div>

          <div id="bottom page recherche article">

            <div id="container submit recherche article">

              <button type="button" class="button1" id="button save article" onclick="cancel_slide();">Quitter</button>

              <button type="button" class="button1" id="button save article" onclick="slide_add_article_tram();">Creer</button>

              <button type="button" class="button1" id="button save article" onclick="add_article_to_lot();">Ajouter</button>

            </div>

          </div>

        </div>

        <nav id="navigation d'ajout d'article a la tram">

          <div id="cancel add">

            <img src="/image/close.png" id="cancel" onclick="cancel_slide_add_article_tram();"/>

          </div>

          <div id="container selection section">

            <span class="title container selection">Section</span>

          </div>

          <div id="container selection theme">

            <span class="title container selection">Theme</span>

          </div>

          <div id="container selection chapitre">

            <span class="title container selection">Chapitre</span>

          </div>

          <div id="container selection sous_chapitre">

            <span class="title container selection">Sous-chapitre</span>

          </div>

          <div id="container selection prestation">

            <span class="title container selection">Prestation</span>

          </div>

          <div id="container selection nom">

            <span class="title container selection">Nom</span>

            <input class="ajout d'article">

          </div>

          <div id="container selection unite">

            <span class="title container selection">Unite</span>

            <input class="ajout d'article">

          </div>

          <div id="container submit ajout d'article a la tram">

            <button type="button" class="button1" id="button modif article" onclick="add_article_tram();">Sauvegarder</button>

          </div>

        </nav>

      </div>

      <div id="container validation">

        <div id="box validation">

            <div id="title box validation">

              <div id="text title operation">Etes-vous sur de vouloir supprimer cette operation ?</div>

            </div>

            <div id="button form validation">

              <button type="button" class="button2" onclick="cancel_sup();">Annuler</button>

              <button type="submit" class="button2" onclick="delete_lot();">Valider</button>

            </div>

        </div>

      </div>

      <script type="application/json" src="/index.js" async></script>
      <script src="/js/script_operation.js" async></script>

    </body>

</html>