<div class="container form lot" id="lot first">

    <div class="container info generale lot">

      <div class="container 2 input dimension">

        <div class="1 input lot">

          <span id="title input">Nom du lot</span>

          <input name="TEST" value="" id="Nom du site" class="input generale"/>

        </div>

        <div class="2 input lot">

          <span id="title input">Numero du lot</span>

          <input name="TEST" value="" id="Categorie du site" class="input generale"/>

        </div>

        <div class="2 input lot">

          <span id="title input">Entreprise</span>

          <input name="TEST" value="" id="Categorie du site" class="input generale"/>

        </div>

        <div class="2 input lot">

          <span id="title input">Date</span>

          <input name="TEST" value="" id="Categorie du site" class="input generale"/>

        </div>

      </div>

    </div>

    <span class="title liste d'article">Liste des Articles</span>

    <div class="container champ">

      <div class="champ" id="Prestation champ">

        <div id="text">Prestation</div>

      </div>

      <div class="champ" id="Article champ">

        <div id="text">Article</div>

      </div>

      <div class="champ" id="Unite champ">

        <div id="text">Unite</div>

      </div>

      <div class="champ" id="Quantite champ">

        <div id="text">Quantite</div>

      </div>

      <div class="champ" id="Prix Unitaire champ">

        <div id="text">Prix Unite</div>

      </div>

      <div class="champ" id="Prix totale champ">

        <div id="text">Prix Totale</div>

      </div>

      <div class="champ" id="TVA champ">

        <div id="text">TVA</div>

      </div>

    </div>

    <div class="container article">

      <div class="box article">

        <div class="champ article" id="Prestation article">

          <div id="text">Peintre</div>

        </div>

        <div class="champ article" id="Article article">

          <div id="text">Peinture plafond</div>

        </div>

        <div class="champ article" id="Unite article">

          <div id="text">m2</div>

        </div>

        <div class="champ article" id="Quantite article">

          <div id="text">10</div>

        </div>

        <div class="champ article" id="Prix Unitaire article">

          <div id="text">12.00</div>

        </div>

        <div class="champ article" id="Prix totale article">

          <div id="text">120.00</div>

         </div>

        <div class="champ article" id="TVA article">

          <div id="text">20%</div>

        </div>

      </div>

      <div class="box article">

        <div class="champ article" id="Prestation article">

          <div id="text">Peintre</div>

        </div>

        <div class="champ article" id="Article article">

          <div id="text">Peinture plafond</div>

        </div>

        <div class="champ article" id="Unite article">

          <div id="text">m2</div>

        </div>

        <div class="champ article" id="Quantite article">

          <div id="text">10</div>

        </div>

        <div class="champ article" id="Prix Unitaire article">

          <div id="text">12.00</div>

        </div>

        <div class="champ article" id="Prix totale article">

          <div id="text">120.00</div>

         </div>

        <div class="champ article" id="TVA article">

          <div id="text">20%</div>

        </div>

      </div>

      <div class="box article">

        <div class="champ article" id="Prestation article">

          <div id="text">Peintre</div>

        </div>

        <div class="champ article" id="Article article">

          <div id="text">Peinture plafond</div>

        </div>

        <div class="champ article" id="Unite article">

          <div id="text">m2</div>

        </div>

        <div class="champ article" id="Quantite article">

          <div id="text">10</div>

        </div>

        <div class="champ article" id="Prix Unitaire article">

          <div id="text">12.00</div>

        </div>

        <div class="champ article" id="Prix totale article">

          <div id="text">120.00</div>

         </div>

        <div class="champ article" id="TVA article">

          <div id="text">20%</div>

        </div>

      </div>

    </div>

    <div id="container submit">

      <div id="text montant totale lot">Montant Totale du Lot :</div>

      <div id="box montant totale lot">3315235</div>

      <button type="button" class="button1">Sauvegarder</button>

    </div>

  </div>

<div class="container of the lot" id="first">

    <img src="/image/lot.png" id="operation"/>

    <span id="text element of list">LOT TESTE</span>

</div>

